<footer class="footer">
    <div class="footer-middle border-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="widget widget-about">
                        <img src="assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105" height="25" style="margin-left: 70px;">
                        <p> </p>

                        <div class="social-icons">
                            <a href="" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                            <a href="" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                            <a href="" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                            <a href="" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                            <a href="" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
                        </div><!-- End .soial-icons -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Liên kết hữu ích</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="">Giới thiệu về BEEFIT</a></li>
                            <li><a href="">Cách mua sắm trên BEEFIT</a></li>
                            <li><a href="">Câu hỏi thường gặp</a></li>
                            <li><a href="">liên hệ với chúng tôi</a></li>
                            <li><a href="">Đăng nhập</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Dịch vụ khách hàng</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="">Phương thức thanh toán</a></li>
                            <li><a href="">Đảm bảo hoàn tiền!</a></li>
                            <li><a href="">Trả hàng</a></li>
                            <li><a href="">Vận chuyển</a></li>
                            <li><a href="">Điều khoản và điều kiện</a></li>
                            <li><a href="">Chính sách bảo mật</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Tài khoản của tôi</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="">Đăng nhập</a></li>
                            <li><a href="">Xem giỏ hàng</a></li>
                            <li><a href="">Danh sách mong muốn của tôi</a></li>
                            <li><a href="">Theo dõi đơn hàng của tôi</a></li>
                            <li><a href="">Trợ giúp</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright">Bản quyền © 2024 BeeFit. Đã đăng ký Bản quyền.</p><!-- End .footer-copyright -->          
        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
    
</footer><!-- End .footer -->