<header class="header">

    <div class="header-middle sticky-header">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>

                <a href="#/home" class="logo">
                    <img src="assets/images/logo.png" alt="BeeFit Logo" width="105" height="25">
                </a>

                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li class="megamenu-container">
                            <a href="#/home">Trang chủ</a>
                        </li>
                        <li>
                            <a href="#/products">Sản phẩm</a>
                        </li>                       
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->
            </div><!-- End .header-left -->

            <div class="header-right">

                <ul ng-if="user == null" class="top-menu">
                    <li>
                        <ul>
                            <li><a href="#/login"><i class="icon-user"></i>Login</a></li>
                        </ul>
                    </li>
                </ul><!-- End .top-menu -->

                <div ng-if="user != null" class="header-dropdown">
                    <a href="">{{user.fullname}}</a>
                    <div class="header-menu">
                        <ul>
                            <li><a href="#/profile">Thông tin người dùng</a></li>
                            <li><a href="#/myorder">Đơn hàng</a></li>
                            <li><a ng-click="logout()" href="">Đăng xuất</a></li>
                        </ul>
                    </div><!-- End .header-menu -->
                </div><!-- End .header-dropdown -->

                <div class="dropdown cart-dropdown">
                    <a href="#/cart" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" data-display="static">
                        <i class="icon-shopping-cart"></i>
                        <span class="cart-count">{{listCartIndex.length}}</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">

                        <div class="dropdown-cart-products">

                            <div ng-repeat="c in listCartIndex" ng-if="listCartIndex.length > 0" class="product">
                                <div class="product-cart-details">
                                    <h4 class="product-title">
                                        <a href="">{{c.product.name | uppercase }}
                                            [Màu: <span ng-repeat="color in listColorIndex">
                                                <span ng-if="color.id == c.idColor">
                                                    {{color.name}}
                                                </span>
                                            </span>]
                                            [ Size: <span ng-repeat="size in listSizeIndex">
                                                <span ng-if="size.id == c.idSize">
                                                    {{size.name}}
                                                </span>
                                            </span>]
                                        </a>
                                    </h4>
                                    <span class="cart-product-info">
                                        <span class="cart-product-qty">{{c.quantity}}</span>
                                        x {{c.unitPrice | currency:'':0}} VNĐ
                                    </span> | 
                                    <span class="cart-product-info">
                                        {{c.unitPrice * c.quantity | currency:'':0}} VNĐ
                                    </span>
                                </div><!-- End .product-cart-details -->

                                <figure class="product-image-container">
                                    <a href="" class="product-image">
                                        <span ng-repeat="img in c.product.productImages">
                                            <span ng-if="img.mainImage == true">
                                                <img class="cart__image" src="{{img.url}}">
                                            </span>
                                        </span>
                                    </a>
                                </figure>
                                <a ng-click="deleteByCartIndex(c.id)" href="" class="btn-remove"
                                    title="Remove Product"><i class="icon-close"></i></a>
                            </div><!-- End .product -->

                            <div ng-if="listCartIndex.length == 0" class="product">
                                <center style="margin: 0 auto;">
                                    <img width="50px" height="50px" src="./assets/images/empty-cart.png">
                                    <p class="text-center">Không có sản phẩm nào trong giỏ</p>
                                </center>
                            </div>

                        </div><!-- End .cart-product -->

                        <div class="dropdown-cart-total">
                            <span>Tổng cộng</span>

                            <span class="cart-total-price">{{tongTienIndex | currency:'':0}} VNĐ</span>
                        </div><!-- End .dropdown-cart-total -->

                        <div class="dropdown-cart-action">
                            <a href="#/cart" class="btn btn-primary">Xem giỏ hàng</a>
                            <a href="#/checkout" class="btn btn-outline-primary-2"><span>Thanh toán</span><i
                                    class="icon-long-arrow-right"></i></a>
                        </div><!-- End .dropdown-cart-total -->
                    </div><!-- End .dropdown-menu -->
                </div><!-- End .cart-dropdown -->

            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-middle -->
</header><!-- End .header -->