<main class="main">

    <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active" style="position: relative;" ng-repeat="img in listBanner">
                <img src="{{img.url}}" alt="Los Angeles" width="100%" height="9">
                <h1 style="position: absolute; top:30%;left: 30%;max-width: 400px;" class="product-title">{{img.content}}</h1>
            </div>
        </div>
    </div>


    <div class="page-content">
        <div class="container">

            <div class="heading heading-featured text-center mt-4 mb-4">
                <h3 class="text-secondary">Sản phẩm mới</h3>
                <h6>Tìm điều gì đó mới mẻ để yêu</h6>
            </div><!--End .heading-->

            <div class="row">
                <div class="col-lg-12">

                    <div class="products mb-3">
                        <div class="row justify-content-center">

                            <!-- Start products -->
                            <div ng-repeat="sp in pagerProductNew.items" class="col-6 col-md-4 col-lg-4 col-xl-3">
                                <div class="product product-7 text-center">
                                    <figure class="product-media">
                                        <!-- <span class="product-label label-new">New</span> -->
                                        <span ng-if="sp.discount > 0" class="product-label label-sale">-{{sp.discount}}%
                                            off</span>
                                        <a href="#/detail/{{sp.id}}">
                                            <span ng-if="sp.productImages.length > 2">
                                                <span ng-repeat="image in sp.productImages">
                                                    <span ng-if="image.mainImage == true">
                                                        <!-- image -->
                                                        <img class="product-image" src="{{image.url}}"
                                                            alt="Product image">
                                                        <!-- End image -->
                                                    </span>
                                                </span>
                                            </span>
                                            <span ng-if="sp.productImages.length == 1">
                                                <span ng-repeat="image in sp.productImages">
                                                    <!-- image -->
                                                    <img class="product-image" src="{{image.url}}" alt="Product image">
                                                    <!-- End image -->
                                                </span>
                                            </span>
                                        </a>
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <h3 class="product-title"><a href="#/detail/{{sp.id}}"
                                                title="{{sp.name}}">{{sp.name}}</a></h3><!-- End .product-title -->
                                        <div ng-if="sp.discount > 0" class="product-price">
                                            <span class="new-price">
                                                {{sp.price - (sp.price * (sp.discount * 0.01)) | currency:'':0}} VNĐ
                                            </span>
                                            <span class="old-price">
                                                {{sp.price | currency:'':0}} VNĐ
                                            </span>
                                        </div>
                                        <div ng-if="sp.discount == null || sp.discount == 0" class="product-price">
                                            <span class="new-price">
                                                {{sp.price | currency:'':0}} VNĐ
                                            </span>
                                        </div>
                                        <!-- End .product-price -->

                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 90%;"></div>
                                                <!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div><!-- End .rating-container -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-lg-4 -->
                            <!-- End products -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="mt-6">


    <div class="page-content">
        <div class="container">

            <div class="heading heading-featured text-center mt-4 mb-4">
                <h3 class="text-secondary">Sản phẩm bán chạy</h3>
                <h6>Tìm điều gì đó mới mẻ để yêu</h6>
            </div><!--End .heading-->

            <div class="row">
                <div class="col-lg-12">

                    <div class="products mb-3">
                        <div class="row justify-content-center">

                            <!-- Start products -->
                            <div ng-repeat="sp in pagerProductSold.items" class="col-6 col-md-4 col-lg-4 col-xl-3">
                                <div class="product product-7 text-center">
                                    <figure class="product-media">
                                        <!-- <span class="product-label label-new">New</span> -->
                                        <span ng-if="sp.discount > 0" class="product-label label-sale">-{{sp.discount}}%
                                            off</span>
                                        <a href="#/detail/{{sp.id}}">
                                            <span ng-if="sp.productImages.length > 2">
                                                <span ng-repeat="image in sp.productImages">
                                                    <span ng-if="image.mainImage == true">
                                                        <!-- image -->
                                                        <img class="product-image" src="{{image.url}}"
                                                            alt="Product image">
                                                        <!-- End image -->
                                                    </span>
                                                </span>
                                            </span>
                                            <span ng-if="sp.productImages.length == 1">
                                                <span ng-repeat="image in sp.productImages">
                                                    <!-- image -->
                                                    <img class="product-image" src="{{image.url}}" alt="Product image">
                                                    <!-- End image -->
                                                </span>
                                            </span>
                                        </a>
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <h3 class="product-title"><a href="#/detail/{{sp.id}}"
                                                title="{{sp.name}}">{{sp.name}}</a></h3><!-- End .product-title -->
                                        <div ng-if="sp.discount > 0" class="product-price">
                                            <span class="new-price">
                                                {{sp.price - (sp.price * (sp.discount * 0.01)) | currency:'':0}} VNĐ
                                            </span>
                                            <span class="old-price">
                                                {{sp.price | currency:'':0}} VNĐ
                                            </span>
                                        </div>
                                        <div ng-if="sp.discount == null || sp.discount == 0" class="product-price">
                                            <span class="new-price">
                                                {{sp.price | currency:'':0}} VNĐ
                                            </span>
                                        </div>
                                        <!-- End .product-price -->

                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 90%;"></div>
                                                <!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div><!-- End .rating-container -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-lg-4 -->
                            <!-- End products -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main><!--End .main-->