<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Đăng ký</span></h2>
    </div>
    <div class="row px-xl-5 ">
        <div class="col-lg-3 mb-5" style="margin: 0 auto;">
            <div class="control-group">
                <label for="LastName" class="font-weight-bold text-dark">Họ tên</label>
                <input ng-model="fullname" name="customer[last_name]" id="LastName" autocorrect="off"
                    autocapitalize="off" autofocus="" type="text" class="form-control"
                    placeholder="Nhập họ và tên của bạn" />
                <div ng-repeat="err in validationErrors">
                    <span class="help-block text-danger" ng-if="err.objectName == 'registerForm' && err.field == 'Fullname'">
                        {{err.defaultMessage}}
                    </span>
                </div>
            </div>
            <div class="control-group">
                <label for="FirstName" class="font-weight-bold text-dark">Tên đăng nhập</label>
                <input ng-model="username" name="customer[first_name]" id="FirstName" autocorrect="off"
                    autocapitalize="off" autofocus="" type="text" class="form-control"
                    placeholder="Nhập username của bạn" />
                <div ng-repeat="err in validationErrors">
                    <span class="help-block text-danger" ng-if="err.objectName == 'registerForm' && err.field == 'Username'">
                        {{err.defaultMessage}}
                    </span>
                </div>
            </div>
            <div class="control-group">
                <label for="CustomerEmail" class="font-weight-bold text-dark">Email</label>
                <input ng-model="email" type="email" name="customer[email]" id="CustomerEmail" autocorrect="off"
                    autocapitalize="off" autofocus="" class="form-control" placeholder="Nhập username của bạn" />
                <div ng-repeat="err in validationErrors">
                    <span class="help-block text-danger" ng-if="err.objectName == 'registerForm' && err.field == 'Email'">
                        {{err.defaultMessage}}
                    </span>
                </div>
            </div>
            <div class="control-group">
                <label for="CustomerPassword" class="font-weight-bold text-dark">Mật khẩu</label>
                <input ng-model="password" name="customer[password]" id="CustomerPassword" type="password"
                    class="form-control" placeholder="Nhập password của bạn" />
                <div ng-repeat="err in validationErrors">
                    <span class="help-block text-danger" ng-if="err.objectName == 'registerForm' && err.field == 'Password'">
                        {{err.defaultMessage}}
                    </span>
                </div>
                <p></p>
            </div>
            <div class="control-group text-center">
                <button ng-click="register()" class="text-center btn btn-primary py-2 px-4">Đăng ký</button>
            </div>
        </div>
    </div>
</div>