<main id="main" class="main">
  <section class="section dashboard">

    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-12">

            <div class="row">

              <div class="col-lg-4">

                <div class="product-search">
                  <div class="search-bar">
                    <form class="search-form d-flex align-items-center">
                      <input type="text" name="query" placeholder="Nhập mã hoặc tên danh mục" title="Tìm kiếm danh mục">
                      <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                    </form>
                  </div><!-- End Search Bar -->
                </div>

              </div>

              <div class="col-lg-6">
                <button class="btn btn-primary" ng-click="openadddanhmuc()" title="Thêm danh mục">
                  <i class="far fa-plus"></i> Thêm danh mục</button>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-12">

            <div class="card">

              <div class="card-body">

                <table class="table">
                  <thead>
                    <th scope="row">Tên danh mục</td>
                    <th scope="row">Trạng thái</th>
                    <th scope="row"></th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="dm in pagerdm.items">
                      <td>{{dm.name}}</td>
                      <td>{{dm.status == 0 ? 'Hoạt động' : dm.status == 1 ? 'Ngừng hoạt động' : ''}}</td>
                      <td>
                        <a ng-click="opensuadanhmuc(dm)"><button class="btn btn-indigo"> Sửa</button></a>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="text-center">
                  <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button ng-click="pagerdm.first()" type="button" class="btn btn-outline-secondary"><i
                        class="fa-solid fa-angles-left"></i></button>
                    <button ng-click="pagerdm.prev()" type="button" class="btn btn-outline-secondary"><i
                        class="fa-solid fa-angle-left"></i></button>
                    <button type="button" class="btn btn-outline-secondary">{{pagerdm.page+1}}
                      of
                      {{pagerdm.count}}</button>
                    <button ng-click="pagerdm.next()" type="button" class="btn btn-outline-secondary"><i
                        class="fa-solid fa-angle-right"></i></button>
                    <button ng-click="pagerdm.last()" type="button" class="btn btn-outline-secondary"><i
                        class="fa-solid fa-angles-right"></i></button>
                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- ======= end row ======= -->

    <div class="popup" ng-class="{ 'show': isthemdanhmuc }">
      <div class="add-thuoctinh">
        <!-- Nội dung của popup -->
        <button class="btn btn-danger" style="float: right;" ng-click="openadddanhmuc()">X</button>
        <h1>Thêm danh mục</h1>

        <div class="row">

          <div class="col-lg-12">

            <div class="col-md-12">
              <label for class="form-label label--ctsp">Tên danh mục <span class="validate">*</span></label>
              <input ng-model="form.name" type="text" class="form-control">
              <div ng-repeat="err in validationErrors">
                <span class="validate" ng-if="err.field == 'name'">
                  {{err.defaultMessage}}
                </span>
              </div>
            </div>

            <div class="col-md-12">
              <button class="btn btn-primary map--btn-addkm" ng-click="add()"></i>Lưu</button>
            </div>

          </div>

        </div>

      </div>
    </div>

    <div class="popup" ng-class="{ 'show': issuadanhmuc }">
      <div class="add-thuoctinh">
        <!-- Nội dung của popup -->
        <button class="btn btn-danger" style="float: right;" ng-click="opensuadanhmuc(dm)">X</button>
        <h1>Sửa danh mục (ID: {{form.id}})</h1>

        <div class="row">
          <div class="col-lg-12">
            <div class="col-md-12">
              <label for class="form-label label--ctsp">Tên danh mục <span class="validate">*</span></label>
              <input ng-model="form.name" id="name" type="text" class="form-control">
              <div ng-repeat="err in validationErrors">
                <span class="validate" ng-if="err.objectName == 'validateFormAttr' && err.field == 'Name'">
                  {{err.defaultMessage}}
                </span>
              </div>
            </div>

            <div class="col-md-12">
              <button class="btn btn-primary map--btn-addkm" ng-click="update()"></i>Lưu</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</main><!-- End #main -->