<main id="main" class="main">
    <section class="section dashboard">

        <div class="pagetitle">
            <h1>Thêm sản phẩm</h1>
        </div>

        <div class="row">

            <div class="col-lg-3">
                <h5 class="card-title">Ảnh đại diện sản phẩm <span style="color: red;">*</span></h5>
                <img id="output" width="215px" height="215px" alt />

                <div style="padding-top: 5px;">
                    <button onclick="anhOpen()" class="btn btn-primary" id="uploadButtonImage">Chọn ảnh</button>
                    <input file-model="image" id="fileUpload" type="file" accept="image/*" onchange="loadFile1(event)"
                        style="display: none;">
                </div>

                <h5 class="card-title">Danh sách ảnh sản phẩm</h5>
                <div style="padding-top: 5px;">
                    <input id="fileList" type="file" accept="image/*" multiple style="display: none;">
                    <button ng-click="openImage()" class="btn btn-primary" id="uploadButton">Chọn ảnh</button>
                    <div id="imagePreviewContainer" ng-repeat="image in images" style="padding-top: 5px;">
                        <div class="image-wrapper">
                            <img class="image" width="215px" height="215px" ng-src="{{image}}" alt />
                            <button class="delete-button" ng-click="deleteImage($index)"><i
                                    class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="row">
                    <div class="col-12">

                        <div class="row">

                            <div class="col-md-12">
                                <label for class="form-label label--ctsp">Trọng lượng (g) <span
                                        class="validate">*</span></label>
                                <input ng-model="form.weight" type="text" class="form-control" placeholder="Trọng lượng">
                                <div ng-repeat="err in validationErrors">
                                    <span class="validate"
                                        ng-if="err.objectName == 'validateForm' && err.field == 'Weight'">
                                        {{err.defaultMessage}}
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label for class="form-label label--ctsp">Tên
                                    sản phẩm <span class="validate">*</span></label>
                                <input ng-model="form.name" type="text" class="form-control" placeholder="Tên sản phẩm">
                                <div ng-repeat="err in validationErrors">
                                    <span class="validate"
                                        ng-if="err.objectName == 'validateForm' && err.field == 'Name'">
                                        {{err.defaultMessage}}
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label for class="form-label label--ctsp">Giá bán <span
                                        class="validate">*</span></label>
                                <input ng-model="form.price" type="text" class="form-control" placeholder="Giá bán">
                                <div ng-repeat="err in validationErrors">
                                    <span class="validate"
                                        ng-if="err.objectName == 'validateForm' && err.field == 'Price'">
                                        {{err.defaultMessage}}
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label for class="form-label label--ctsp">Mô tả
                                    <span class="validate">*</span></label>
                                <textarea ng-model="form.description" placeholder="Mô tả sản phẩm" class="form-control"
                                    style="height: 80px"></textarea>
                            </div>


                            <div class="col-md-12">
                                <label for class="form-label label--ctsp">Giảm giá</label>
                                <input class="form-check-input" ng-click="giamGia()" id="giamGia" type="checkbox">

                                <div class="row">
                                    <div id="giamGia1" style="display: none;" class="custom-radio">
                                        <input class="form-check-input" ng-click="giamGia1()" type="radio" name="giamGia" id="khongGioiHan" checked>
                                        <label for="khongGioiHan">Thời gian không giới hạn</label>
                                        <input class="form-check-input" ng-click="giamGia1()" type="radio" name="giamGia" id="tamThoi">
                                        <label for="tamThoi">Thời gian tạm thời</label>
                                    </div>
                                    <div id="khongGioiHan1" style="display: none;">
                                        Phần trăm giảm giá
                                        <input class="form-control" id="phanTramGiamGia">
                                        <div ng-repeat="err in validationErrors">
                                            <span class="validate"
                                                ng-if="err.objectName == 'validateForm' && err.field == 'Discount'">
                                                {{err.defaultMessage}}
                                            </span>
                                        </div>
                                    </div>
                                    <div id="tamThoi1" style="display: none;">
                                        Phần trăm giảm giá
                                        <input class="form-control" id="phanTramGiamGia1">
                                        <div ng-repeat="err in validationErrors">
                                            <span class="validate"
                                                ng-if="err.objectName == 'validateForm' && err.field == 'Discount'">
                                                {{err.defaultMessage}}
                                            </span>
                                        </div>
                                        Ngày kết thúc
                                        <input class="form-control" type="date" id="thoiGianGiamGia">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label for class="form-label label--ctsp">Chất liệu</label>
                                <div class="row">
                                    <div class="col-auto" ng-repeat="chatlieu in listMaterial">
                                        <div class="form-check form-check-inline">
                                            <input id="Material{{chatlieu.id}}" class="form-check-input" type="checkbox"
                                                value="{{chatlieu.id}}">
                                            <label class="form-check-label"
                                                for="Material{{chatlieu.id}}">{{chatlieu.name}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label class="form-label label--ctsp">Màu sắc: <span></label>
                                <div class="row">
                                    <div class="col-auto" ng-repeat="mausac in listColor">
                                        <div class="form-check form-check-inline">
                                            <input type="checkbox" id="Color{{mausac.id}}" class="form-check-input"
                                                ng-click="checkbox(mausac.id)">
                                            <label class="form-check-label"
                                                for="Color{{mausac.id}}">{{mausac.name}}</label>
                                        </div>
                                    </div>
                                </div>

                                <div ng-repeat="mausac in listColor">
                                    <div ng-show="colorStates[mausac.id]" style="padding-top: 15px;">
                                        <label class="col-form-label">Số lượng màu {{ mausac.name }}</label>
                                        <a href="" ng-click="themkichthuoc(mausac.id)">
                                            <i class="ri-add-circle-line"></i></a>
                                        <!-- Hiển thị danh sách kích thước và số lượng -->
                                        <span ng-repeat="(idColor, sizes) in colorSizes">
                                            <!-- Tạo một biến để lưu trữ tên màu sắc tương ứng -->
                                            <!-- Hiển thị danh sách kích thước cho màu sắc -->
                                            <div ng-if="idColor == mausac.id">
                                                <div class="d-flex align-items-center" style="margin-bottom: 10px;"
                                                    ng-repeat="s in listSize">
                                                    <span ng-repeat="size in sizes">
                                                        <span ng-if="size.size == s.id">
                                                            <span>Size: {{ s.name }}</span>
                                                            <div class="input-group" style="max-width: 200px;">
                                                                <input id="Color{{ mausac.id }}Size{{ s.id }}"
                                                                    class="form-control" type="number"
                                                                    value="{{size.quantity}}">
                                                                <button ng-click="removeItemBySize(mausac.id,size.size)"
                                                                    style="border: none;"><i
                                                                        class="fa-solid fa-trash validate"></i></button>
                                                            </div>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <button ng-click="add()" class="btn btn-primary">Lưu</button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="row">
                    <div class="col-12">

                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-floating mb-4">
                                    <select class="form-select" id="category">
                                        <option ng-repeat="danhmuc in listCategory" value="{{danhmuc.id}}">
                                            {{danhmuc.name}}</option>
                                    </select>
                                    <label for="category">Danh mục</label>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-floating mb-4">
                                    <select class="form-select" id="brand">
                                        <option value>Tất cả thương hiệu</option>
                                        <option ng-repeat="thuonghieu in listBrand" value="{{thuonghieu.id}}">
                                            {{thuonghieu.name}}</option>
                                    </select>
                                    <label for="brand">Thương
                                        hiệu</label>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-floating mb-4">
                                    <select class="form-select" id="design">
                                        <option ng-repeat="thietke in listDesign" value="{{thietke.id}}">
                                            {{thietke.name}}</option>
                                    </select>
                                    <label for="design">Thiết kế</label>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-floating mb-4">
                                    <select class="form-select" id="neckType">
                                        <option ng-repeat="kieuco in listNeckType" value="{{kieuco.id}}">
                                            {{kieuco.name}}</option>
                                    </select>
                                    <label for="neckType">Kiểu cổ</label>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-floating mb-4">
                                    <select class="form-select" id="handType">
                                        <option ng-repeat="kieutay in listHandType" value="{{kieutay.id}}">
                                            {{kieutay.name}}</option>
                                    </select>
                                    <label for="handType">Kiểu tay</label>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="popup" ng-class="{ 'show': isPopupVisible }">
                <div class="popup-sizecolor">
                    <!-- Nội dung của popup -->
                    <h1>Thêm số lượng </h1>
                    <select class="form-select" id="sizehan">
                        <option ng-repeat="size in listSize" value="{{size.id}}">Size {{size.name}}</option>
                    </select>
                    <div style="padding-top: 10px;">
                        <input class="form-control" type="number" min="0" id="quantitysize" placeholder="Số lượng">
                    </div>
                    <div style="padding-top: 10px;">
                        <button class="btn btn-danger" ng-click="themkichthuoc()">X</button>
                        <button class="btn btn-primary" ng-click="addItem()">Thêm</button>
                    </div>

                </div>
            </div>

        </div>

    </section>
</main>