<main id="main" class="main">

  <section class="section dashboard">

    <div class="pagetitle">
      <h1>Lọc</h1>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-12">

            <div class="row">
              <div class="col-md-3">
                <div class="form-floating mb-4">
                  <select class="form-select" id="danhmuc">
                    <option value="">Tất cả danh mục</option>
                    <option ng-repeat="danhmuc in listCategory" value="{{danhmuc.id}}"> {{danhmuc.name}}</option>
                  </select>
                  <label for="">Danh mục</label>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-floating mb-4">
                  <select class="form-select" id="thuonghieu">
                    <option value="">Tất cả thương hiệu</option>
                    <option ng-repeat="thuonghieu in listBrand" value="{{thuonghieu.id}}"> {{thuonghieu.name}}</option>
                  </select>
                  <label for="">Thương hiệu</label>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-floating mb-4">
                  <select class="form-select" id="thietke">
                    <option value="">Tất cả thiết kế</option>
                    <option ng-repeat="thietke in listDesign" value="{{thietke.id}}"> {{thietke.name}}</option>
                  </select>
                  <label for="">Thiết kế</label>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-floating mb-4">
                  <select class="form-select" id="kieuco">
                    <option value="">Tất cả kiểu cổ</option>
                    <option ng-repeat="kieuco in listNeckType" value="{{kieuco.id}}"> {{kieuco.name}}</option>
                  </select>
                  <label for="floatingSelect">Kiểu cổ</label>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-floating mb-4">
                  <select class="form-select" id="kieutay">
                    <option value="">Tất cả kiểu tay</option>
                    <option ng-repeat="kieutay in listHandType" value="{{kieutay.id}}"> {{kieutay.name}}</option>
                  </select>
                  <label for="floatingSelect">Kiểu tay</label>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-floating mb-4">
                  <select class="form-select" id="chatlieu">
                    <option value="">Tất cả chất liệu</option>
                    <option ng-repeat="chatlieu in listMaterial" value="{{chatlieu.id}}"> {{chatlieu.name}}</option>
                  </select>
                  <label for="floatingSelect">Chất liệu</label>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-floating mb-4">
                  <select class="form-select" id="mausac">
                    <option value="">Tất cả màu sắc</option>
                    <option ng-repeat="mausac in listColor" value="{{mausac.id}}"> {{mausac.name}}</option>
                  </select>
                  <label for="floatingSelect">Màu sắc</label>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-floating mb-4">
                  <select class="form-select" id="kichthuoc">
                    <option value="">Tất cả kích thước</option>
                    <option ng-repeat="kichthuoc in listSize" value="{{kichthuoc.id}}"> {{kichthuoc.name}}</option>
                  </select>
                  <label for="floatingSelect">Kích thước</label>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col-lg-6">

                <div class="product-search">
                  <div class="search-bar">
                    <form class="search-form d-flex align-items-center">
                      <input type="text" name="query" placeholder="Nhập mã hoặc tên sản phẩm" title="Tìm kiếm sản phẩm">
                      <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                    </form>
                  </div><!-- End Search Bar -->
                </div>

              </div>

              <div class="col-lg-6">

                <a href="#/product/add" class="btn btn-primary" title="Thêm sản phẩm"><i class="far fa-plus"></i> Thêm sản phẩm</a>

                <button class="btn btn-primary" title="Xuất file"><i class="fas fa-fw fa-file-export"></i> Xuất file</button>


              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-12">

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Danh sách sản phẩm</h5>

                <!-- Default Table -->
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Ảnh sản phẩm</th>
                      <th scope="col">Mã sản phẩm</th>
                      <th scope="col">Tên sản phẩm</th>
                      <th scope="col">Giá bán</th>
                      <th scope="col">Trạng thái</th>
                      <th scope="col">Thao tác</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row"><a href="#"><img src="../assets/img/products/product-5.jpg" width="50px" alt></a>
                      </th>
                      <td>SP001</td>
                      <td>Áo Thun Unisex Balenciaga Thêu Dập Form Rộng Nam Nữ
                        Fit 22005 AT918</td>
                      <td>1</td>
                      <td>1</td>
                      <td>
                        <a href="" class="btn">Chi tiết</a>
                        <a href="" class="btn">Sửa</a>
                      </td>
                    </tr>

                  </tbody>
                </table>
                <!-- End Default Table Example -->
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  </section>

</main><!-- End #main -->