<main id="main" class="main">
    <section class="section dashboard">

        <div class="pagetitle">
            <h1>Sửa sản phẩm</h1>
            <p ng-if="form.updateDate != null" class="validate">Cập nhật lần cuối lúc {{form.updateDate | date:'HH:mm:ss - dd/MM/yyyy'}}</p>
        </div>

        <form data-ng-init="detail()">
        <div class="row" >

            <div class="col-lg-3">
                <h5 class="card-title">Ảnh đại diện sản phẩm <span style="color: red;">*</span></h5>
                <span ng-repeat="img in form.productImages">
                    <span ng-if="img.mainImage === true">
                      <img id="output1" src="{{img.url}}" width="215px" height="215px"/>
                    </span>
                  </span>
                  <img id="output" style="display: none;" width="215px" height="215px"/>
                <div style="padding-top: 5px;">
                    <button onclick="anhOpen()" class="btn btn-primary" id="uploadButtonImage">Chọn ảnh</button>
                    <input file-model="image" id="fileUpload" type="file" accept="image/*" onchange="loadFile(event)" style="display: none;">
                </div>

                <h5 class="card-title">Danh sách ảnh sản phẩm</h5>
                <div style="padding-top: 5px;">
                    <input id="fileList" type="file" accept="image/*" multiple style="display: none;">
                    <button ng-click="openImage()" class="btn btn-primary" id="uploadButton">Chọn ảnh</button>           
                    <div id="imagePreviewContainer" ng-repeat="image in images">
                        <div class="image-wrapper">
                        <img class="image" ng-src="{{image}}" width="215px" height="215px"/>
                        <button class="delete-button" ng-click="deleteImage($index)"><i class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="row">
                    <div class="col-12">

                        <div class="row">

                            <div class="col-md-12">
                                <label for class="form-label label--ctsp">Tên
                                    sản phẩm <span class="validate">*</span></label>
                                <input ng-model="form.name" type="text" class="form-control"
                                    placeholder="Tên sản phẩm">
                                <div ng-repeat="err in validationErrors">
                                    <span class="validate"
                                        ng-if="err.objectName == 'validateForm' && err.field == 'Name'">
                                        {{err.defaultMessage}}
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label for class="form-label label--ctsp">Giá bán <span
                                        class="validate">*</span></label>
                                <input ng-model="form.price" type="text" class="form-control" placeholder="Giá bán">
                                <div ng-repeat="err in validationErrors">
                                    <span class="validate"
                                        ng-if="err.objectName == 'validateForm' && err.field == 'Price'">
                                        {{err.defaultMessage}}
                                    </span>

                                </div>
                            </div>

                            <div class="col-md-12">
                                <label for class="form-label label--ctsp">Mô tả
                                    <span class="validate">*</span></label>
                                <textarea ng-model="form.description" placeholder="Mô tả sản phẩm" class="form-control"
                                    style="height: 80px"></textarea>
                            </div>

                            <div class="col-md-12">
                                <label for class="form-label label--ctsp">Chất liệu</label>
                                <div class="row">
                                    <div class="col-auto">
                                        <div class="form-check form-check-inline" ng-repeat="chatlieu in listMaterial">
                                            <input id="Material{{chatlieu.id}}" class="form-check-input" type="checkbox" value="{{chatlieu.id}}">
                                            <label class="form-check-label"
                                                for="Material{{chatlieu.id}}">{{chatlieu.name}}</label>
                                        </div>
                                    </div>                                                     
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label class="form-label label--ctsp">Màu sắc: <span></label>
                                <div class="row">
                                    <div class="col-auto" ng-repeat="mausac in listColor">
                                        <div class="form-check form-check-inline">
                                            <input type="checkbox" id="Color{{mausac.id}}" class="form-check-input"
                                                ng-click="checkbox(mausac.id)">
                                            <label class="form-check-label"
                                                for="Color{{mausac.id}}">{{mausac.name}}</label>
                                        </div>
                                    </div>
                                </div>

                                <div ng-repeat="mausac in listColor">
                                    <div ng-show="colorStates[mausac.id]">
                                        <label class="col-form-label label--ctsp">Số lượng màu {{ mausac.name }}</label>
                                        <a href="" ng-click="themkichthuoc(mausac.id)">
                                            <i class="ri-add-circle-line"></i></a>
                                        <!-- Hiển thị danh sách kích thước và số lượng -->
                                        <span ng-repeat="(idColor, sizes) in colorSizes">
                                            <!-- Tạo một biến để lưu trữ tên màu sắc tương ứng -->
                                            <!-- Hiển thị danh sách kích thước cho màu sắc -->
                                            <div ng-if="idColor == mausac.id">
                                                <div class="d-flex align-items-center" style="margin-bottom: 5px;"
                                                    ng-repeat="s in listSize">
                                                    <span ng-repeat="size in sizes">
                                                        <span ng-if="size.size == s.id">
                                                            <span>Size: {{ s.name }}</span>
                                                            <div class="input-group" style="max-width: 200px;">
                                                                <input id="Color{{ mausac.id }}Size{{ s.id }}"
                                                                    class="form-control" type="number"
                                                                    value="{{size.quantity}}">
                                                                <button ng-click="removeItemBySize(mausac.id,size.size)"
                                                                    style="border: none;"><i
                                                                        class="fa-solid fa-trash validate"></i></button>
                                                            </div>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <button ng-click="update()" class="btn btn-primary">Lưu</button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="row">
                    <div class="col-12">

                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-floating mb-4">
                                    <select class="form-select" id="category">
                                        <option ng-repeat="danhmuc in listCategory" value="{{danhmuc.id}}" ng-selected="danhmuc.id == form.category.id">
                                            {{danhmuc.name}}</option>
                                    </select>
                                    <label for="category">Danh mục</label>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-floating mb-4">
                                    <select class="form-select" id="brand">
                                        <option value>Tất cả thương hiệu</option>
                                        <option ng-repeat="thuonghieu in listBrand" value="{{thuonghieu.id}}" ng-selected="thuonghieu.id == form.brand.id">
                                            {{thuonghieu.name}}</option>
                                    </select>
                                    <label for="brand">Thương
                                        hiệu</label>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-floating mb-4">
                                    <select class="form-select" id="design">
                                        <option value>Tất cả thiết kế</option>
                                        <option ng-repeat="thietke in listDesign" value="{{thietke.id}}" ng-selected="thietke.id == form.design.id">
                                            {{thietke.name}}</option>
                                    </select>
                                    <label for="design">Thiết kế</label>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-floating mb-4">
                                    <select class="form-select" id="neckType">
                                        <option ng-repeat="kieuco in listNeckType" value="{{kieuco.id}}" ng-selected="kieuco.id == form.neckType.id">
                                            {{kieuco.name}}</option>
                                    </select>
                                    <label for="neckType">Kiểu cổ</label>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-floating mb-4">
                                    <select class="form-select" id="handType">
                                        <option ng-repeat="kieutay in listHandType" value="{{kieutay.id}}" ng-selected="kieutay.id == form.handType.id">
                                            {{kieutay.name}}</option>
                                    </select>
                                    <label for="handType">Kiểu tay</label>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-floating mb-4">
                                    <select class="form-select" id="promotion">
                                        <option value>Tất cả Khuyến mãi</option>
                                        <option ng-repeat="khuyenmai in listPromotion" value="{{khuyenmai.id}}" ng-selected="khuyenmai.id == form.promotion.id">
                                            {{khuyenmai.name}}</option>
                                    </select>
                                    <label for="promotion">Khuyến mãi</label>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="popup" ng-class="{ 'show': isPopupVisible }">
                <div class="popup-sizecolor">
                    <!-- Nội dung của popup -->
                    <h1>Thêm số lượng </h1>
                    <select class="form-select" id="sizehan">
                        <option ng-repeat="size in listSize" value="{{size.id}}">Size {{size.name}}</option>
                    </select>
                    <div style="padding-top: 10px;">
                        <input class="form-control" type="number" min="0" id="quantitysize" placeholder="Số lượng">
                    </div>
                    <div style="padding-top: 10px;">
                        <button class="btn btn-danger" ng-click="themkichthuoc()">X</button>
                        <button class="btn btn-primary" ng-click="addItem()">Thêm</button>
                    </div>

                </div>
            </div>

        </div>
    </form>
    </section>
</main>