<div class="page-wrapper" id="main-wrapper">
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Quên mật khẩu</h5>
                </div>

                <div class="row g-3 needs-validation">

                  <div class="input-group has-validation">

                    <div class="col-12">
                      <label for="exampleInputEmail1" class="form-label">Tài khoản</label>
                      <input ng-model="form.username" type="text" class="form-control" id="exampleInputEmail1">
                      <div ng-repeat="err in validationErrors">
                        <span class="validate" ng-if="err.objectName == 'forgetForm' && err.field == 'Username'">
                          {{err.defaultMessage}}
                        </span>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="exampleInputPassword1" class="form-label">Email</label>
                      <input ng-model="form.email" type="email" class="form-control" id="exampleInputPassword1">
                      <div ng-repeat="err in validationErrors">
                        <span class="validate" ng-if="err.objectName == 'forgetForm' && err.field == 'Email'">
                          {{err.defaultMessage}}
                        </span>
                      </div>
                    </div>

                  </div>

                  <div class="col-6">
                    <p class="small mb-0 text-center"><a href="#/login">Đăng nhập ngay</a></p>
                  </div>

                  <div class="col-12">
                    <button class="btn btn-outline-primary w-100 text-center" ng-click="forget()">Quên mật khẩu</button>
                  </div>
         
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

  </div>
</div><!-- End #main -->