.product-search .search-form {
  width: 100%;
  padding-bottom: 30px;
}

.product-search .search-form input {
  border: 0;
  font-size: 14px;
  color: #012970;
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 7px 38px 7px 8px;
  border-radius: 3px;
  transition: 0.3s;
  width: 100%;
}

.product-search .search-form input:focus,
.product-search .search-form input:hover {
  outline: none;
  box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
  border: 1px solid rgba(1, 41, 112, 0.3);
}

.product-search .search-form button {
  border: 0;
  padding: 0;
  margin-left: -30px;
  background: none;
}

.product-search .search-form button i {
  color: #012970;
}

:focus {
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important
}

/* CSS cho popup */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup-sizecolor {
  width: 310px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.importExcel-content {
  width: 450px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  overflow: auto;
  scrollbar-width: thin;
  /* Width of the scrollbar (thin, auto, none) */
  scrollbar-color: #333 #999;
  /* Scrollbar color (thumb color, track color) */
}

.detail-product {
  width: 1100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  height: 650px;
  overflow: auto;
  scrollbar-width: thin;
  /* Width of the scrollbar (thin, auto, none) */
  scrollbar-color: #333 #999;
  /* Scrollbar color (thumb color, track color) */

}

.add-promotion {
  width: 1100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  height: 650px;
  overflow: auto;
  scrollbar-width: thin;
  /* Width of the scrollbar (thin, auto, none) */
  scrollbar-color: #333 #999;
  /* Scrollbar color (thumb color, track color) */

}

.add-thuoctinh {
  width: 410px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  height: 250px;
  overflow: auto;
  scrollbar-width: thin;
  /* Width of the scrollbar (thin, auto, none) */
  scrollbar-color: #333 #999;
  /* Scrollbar color (thumb color, track color) */
}

.add-nhanvien {
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  height: 400px;
  overflow: auto;
  scrollbar-width: thin;
  /* Width of the scrollbar (thin, auto, none) */
  scrollbar-color: #333 #999;
  /* Scrollbar color (thumb color, track color) */
}

.add-banner {
  width: 540px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  height: 500px;
  overflow: auto;
  scrollbar-width: thin;
  /* Width of the scrollbar (thin, auto, none) */
  scrollbar-color: #333 #999;
  /* Scrollbar color (thumb color, track color) */
}

.popup-content {
  width: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  height: 600px;
  overflow: auto;
  scrollbar-width: thin;
  /* Width of the scrollbar (thin, auto, none) */
  scrollbar-color: #333 #999;
  /* Scrollbar color (thumb color, track color) */
}

.popup-content2 {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


/* Hiển thị popup khi có class 'show' */
.popup.show {
  display: block;
}


.popup-search {
  display: none;
  height: 300px;
  width: 600px;
  background-color: #f4eeee;
  position: fixed;
  top: 65px;
  left: 40px;
  overflow-y: auto;
  color: #000;
  font-size: 13px;
}

.popup-search.show {
  display: block;
}





.label--ctsp {
  color: #000;
  font-weight: bold;
}

.span--ctsp {
  font-weight: normal;
}

.validate {
  color: red;
  font-style: italic;
}

.map--btn-addkm {
  position: absolute;
  bottom: 4px;
  left: 170px;

}

.map--btn-addbanner {
  position: absolute;
  top: 20px;
  left: 400px;

}

.map--btn-addnv {
  position: absolute;
  bottom: 5px;
  left: 450px;

}

.table-quantity::-webkit-inner-spin-button,
.table-quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.table-quantity {
  -moz-appearance: textfield;
  border-width: 0 0 1px;
  width: 20%;
}

.table-quantity:hover,
.table-quantity:focus {
  outline: none;
  box-shadow: none;
}


.radio-button {
  display: inline-block;
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-button label {
  background-color: #ffffff;
  padding: 10px 20px;
  border: 1px solid #00583c;
  cursor: pointer;
  margin: 0 -1px;
  /* Fix alignment issue */
  text-align: center;
  width: 147.8px;
  margin: 3px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.radio-button input[type="radio"]:checked+label {
  background-color: #0d6efd;
  color: #fff;
}



/* Hide the default radio buttons */
.radio-button-group input[type="radio"] {
  display: none;
}

/* Style the labels as buttons */
.radio-button-group label {
  display: inline-block;
  padding: 20px 10px;
  background-color: #0d6efd;
  color: #fff;
  border: 1px solid #0d6efd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 185px;
  height: 70px;
  font-weight: bold;
  text-align: center;
}

/* Style the labels when the radio button is checked */
.radio-button-group input[type="radio"]:checked+label {
  background-color: #0049b7;
  border: 1px solid #0a58ca;
}

/* Tùy chỉnh thanh cuộn trong trình duyệt Chrome và Safari */
/* Các thuộc tính này không hoạt động trong Firefox hoặc Edge */

/* Chỉnh màu của thanh cuộn */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #0d38d4;
  /* Màu của thanh cuộn khi di chuyển */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Màu của phần còn lại của thanh cuộn */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000;
  /* Màu của thanh cuộn khi rê chuột lên */
}


/* Styling for the timeline container */
.timeline {
  display: flex;
  width: 100%;
  overflow-x: auto;
  /* Tạo thanh cuộn ngang khi nội dung vượt quá kích thước container */
  white-space: nowrap;
  /* Ngăn chặn xuống dòng khi nội dung quá rộng */
}

:root {
  --bg-clr: #ead376;
  --white: #fff;
  --primary-clr: #2f2929;
  --secondary-clr: #0d6efd;
}

.invoice {
  width: 800px;
  max-width: 100%;
  height: auto;
  background: var(--white);
  padding: 50px 60px;
  position: relative;
  margin: 20px auto;
}

.w_15 {
  width: 15%;
}

.w_50 {
  width: 50%;
}

.w_55 {
  width: 55%;
}

.p_title {
  font-weight: 700;
  font-size: 14px;
}

.i_row {
  display: flex;
}

.text_right {
  text-align: right;
}

.invoice .headerbill .i_row {
  justify-content: space-between;
  margin-bottom: 30px;
}

.invoice .headerbill .i_row:last-child {
  align-items: flex-end;
}

.invoice .headerbill .i_row .i_logo p {
  font-family: "Redressed", cursive;
}

.invoice .headerbill .i_row .i_logo p,
.invoice .headerbill .i_row .i_title h2 {
  font-size: 32px;
  line-height: 38px;
  color: var(--secondary-clr);
}

.invoice .headerbill .i_row .i_address .p_title span {
  font-weight: 400;
  font-size: 12px;
}

.invoice .bodybill .i_table .i_col p {
  font-weight: 700;
}

.invoice .bodybill .i_table .i_row .i_col {
  padding: 12px 5px;
}

.invoice .bodybill .i_table .i_table_head .i_row {
  border: 2px solid;
  border-color: var(--primary-clr) transparent var(--primary-clr) transparent;
}

.invoice .bodybill .i_table .i_table_body .i_row:last-child {
  border-bottom: 2px solid var(--primary-clr);
}

.invoice .bodybill .i_table .i_table_foot .grand_total_wrap {
  margin-top: 20px;
}

.invoice .bodybill .i_table .i_table_foot .grand_total_wrap .grand_total {
  background: var(--secondary-clr);
  color: var(--white);
  padding: 10px 15px;
}

.invoice .bodybill .i_table .i_table_foot .grand_total_wrap .grand_total p {
  display: flex;
  justify-content: space-between;
}

.invoice .footerbill {
  margin-top: 30px;
}

.card-footer-bill {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  transition: all 0.5s;
  z-index: 997;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  font-size: 14px;
}

.card-infornation {
  height: 580px;
  overflow-y: auto;
  font-size: 14px;
}

.card-cart {
  height: 400px;
  overflow-y: auto;
  font-size: 14px;
}