.product-search .search-form {
    width: 100%;
    padding-bottom: 30px;
}

.product-search .search-form input {
    border: 0;
    font-size: 14px;
    color: #012970;
    border: 1px solid rgba(1, 41, 112, 0.2);
    padding: 7px 38px 7px 8px;
    border-radius: 3px;
    transition: 0.3s;
    width: 100%;
}

.product-search .search-form input:focus,
.product-search .search-form input:hover {
    outline: none;
    box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
    border: 1px solid rgba(1, 41, 112, 0.3);
}

.product-search .search-form button {
    border: 0;
    padding: 0;
    margin-left: -30px;
    background: none;
}

.product-search .search-form button i {
    color: #012970;
}

:focus {
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

/* CSS cho popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup-sizecolor {
    width: 310px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

.importExcel-content {
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    height: 500px;
    overflow: auto;
    scrollbar-width: thin;
    /* Width of the scrollbar (thin, auto, none) */
    scrollbar-color: #333 #999;
    /* Scrollbar color (thumb color, track color) */
}

.detail-product {
    width: 1100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    height: 650px;
    overflow: auto;
    scrollbar-width: thin;
    /* Width of the scrollbar (thin, auto, none) */
    scrollbar-color: #333 #999;
    /* Scrollbar color (thumb color, track color) */
  
  }
  .add-promotion {
    width: 1100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    height: 650px;
    overflow: auto;
    scrollbar-width: thin;
    /* Width of the scrollbar (thin, auto, none) */
    scrollbar-color: #333 #999;
    /* Scrollbar color (thumb color, track color) */
  
  }

  .popup-content {
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    height: 700px;
    overflow: auto;
    scrollbar-width: thin;
    /* Width of the scrollbar (thin, auto, none) */
    scrollbar-color: #333 #999;
    /* Scrollbar color (thumb color, track color) */
  }
.popup-content2 {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
   

/* Hiển thị popup khi có class 'show' */
.popup.show {
    display: block;
}

.label--ctsp {
    color: #000;
    font-weight: bold;
}

.span--ctsp {
    font-weight: normal;
}

.validate {
    color: red;
    font-style: italic;
}

.map--btn-addkm{
    position: absolute;
    bottom: 150px;
    left: 150px;
}

.table-quantity::-webkit-inner-spin-button,
.table-quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.table-quantity {
  -moz-appearance: textfield;
  border-width: 0 0 1px;
  width: 20%;
}

.table-quantity:hover,
.table-quantity:focus {
  outline: none;
  box-shadow: none;
}


.radio-button {
  display: inline-block;
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-button label {
  background-color: #ffffff;
  padding: 10px 20px;
  border: 1px solid #00583c;
  cursor: pointer;
  margin: 0 -1px; /* Fix alignment issue */
  text-align: center;
  width: 147.8px;
  margin: 3px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.radio-button input[type="radio"]:checked + label {
  background-color: #0d6efd;
  color: #fff;
}

.kh-select {
  width: 310px;
}

