<main id="main" class="main">

  <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">

          <!-- Sales Card -->
          <div class="col-xxl-3 col-md-6">
            <div class="card info-card sales-card">

              <div class="card-body">
                <h5 class="card-title">Hóa đơn hôm nay</h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-cart"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ngay.soLuong == null ? 0 : ngay.soLuong}}</h6>
                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Sales Card -->

          <!-- Revenue Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">

              <div class="card-body">
                <h5 class="card-title">Doanh thu hôm nay</h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-currency-dollar"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ngay.doanhThu == null ? 0 : ngay.doanhThu | currency:'':0}} VNĐ</h6>
                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Revenue Card -->

          <!-- Customers Card -->
          <div class="col-xxl-5 col-xl-12">

            <div class="card info-card customers-card">
              <div class="card-body">
                <h5 class="card-title">Doanh số tháng này</h5>
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-currency-dollar"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{thang.soLuong}} đơn hàng</h6>
                    <span class="text-success small pt-1 fw-bold">{{thang.doanhThu == null ? 0 : thang.doanhThu |
                      currency:'':0}} VNĐ</span>
                  </div>
                </div>
              </div>
            </div>

          </div><!-- End Customers Card -->

          <div class="col-12">
            <div class="card">

              <div class="card-body">
                <h5 class="card-title">Biểu đồ thống kê</h5>

                <div style="display: inline-flex;">
                  <span style="padding: 5px;">Từ ngày</span>
                  <input type="date" id="tungay" class="form-control" style="width: 200px;">
                  <span style="padding: 5px;">Đến ngày</span>
                  <input type="date" id="denngay" class="form-control" style="width: 200px;">
                </div>
                <div class="custom-radio">
                  <form>
                    <input type="radio" id="hoadon" name="radio-group1" checked>
                    <label for="hoadon">Hóa đơn</label>
                    <input type="radio" id="sanpham" name="radio-group1">
                    <label for="sanpham">Sản phẩm</label>
                  </form>
                </div>
                <div style="padding-top: 10px;">
                  <button ng-click="thongKe()" class="btn btn-primary">Thống kê</button>
                </div>
                <div style="display: none;padding: 5px; font-weight: bold;" id="tkhd">
                  Tổng số lượng chờ xác nhận : {{hdstatus[0].numberOfBillsStatus0}} <br>
                  Tổng số lượng chờ giao : {{hdstatus[0].numberOfBillsStatus1}}<br>
                  Tổng số lượng đang giao : {{hdstatus[0].numberOfBillsStatus2}}<br>
                  Tổng số lượng đã giao : {{hdstatus[0].numberOfBillsStatus3}}<br>
                  Tổng số lượng đã hủy : {{hdstatus[0].numberOfBillsStatus4}}
                </div>
                <div style="display: none;padding: 5px; font-weight: bold;" id="tksp">
                  Tổng số lượng đã bán : {{tongSL}}<br>
                  Tổng doanh thu : {{tongDT | currency:'':0}} VNĐ
                </div>
    
                <canvas id="myChart" width="400" height="200"></canvas>

              </div>

            </div>
          </div>

          <!-- Top Selling -->
          <div class="col-12">
            <div class="card top-selling overflow-auto">

              <div class="card-body pb-0">
                <h5 class="card-title">Top 5 sản phẩm bán chạy nhất</h5>

                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Sản phẩm</th>
                      <th scope="col">Số lượng đã bán</th>
                      <th scope="col">Doanh thu</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="sp in pagerProductSold.items">
                      <td>{{$index + 1}}</td>
                      <th scope="row">
                        <img style="width: 50px;height: 50px;" src="{{sp.url}}" alt="">
                        <a class="text-primary fw-bold">{{sp.name}}</a>
                      </th>
                      <td class="fw-bold">{{sp.soLuong}}</td>
                      <td>{{sp.doanhThu | currency:'':0}} VNĐ</td>
                    </tr>
                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End Top Selling -->

        </div>
      </div><!-- End Left side columns -->

    </div>
  </section>

</main><!-- End #main -->