<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center header-bh">

  <div class="search-bar" id="search-bar" style="display: none;">
    <div class="search-form d-flex align-items-center">
      <input ng-model="searchQuery" ng-keyup="filterProducts()" id="input__search-bh" type="text" autocomplete="off"
        placeholder="Tìm kiếm hàng hóa" title="Tìm kiếm hàng hóa theo mã hoặc tên">
      <button title="Tìm kiếm sản phẩm"><i class="bi bi-search"></i></button>
    </div>
  </div><!-- End Search Bar -->


  <div class="row">
    <div class="col-lg-12">
      <button ng-click="togglePopup()" class="btn btn-primary" title="Tìm kiếm hàng hóa"><i
          class="bi bi-search"></i></button>
      <button ng-click="webcam()" class="btn btn-primary" style="display: none;"><i class="fa-solid fa-qrcode"></i> QR </button>
      <span ng-if="listBill.length < 5">
        <span ng-repeat="bill in pager.items">
          <button ng-click="choose(bill.code,bill.id)" style="margin: 2px 1px; width: 100px;"
            class="btn btn-primary">{{bill.code}}</button>
        </span>
      </span>
      <span ng-if="listBill.length > 4">
        <button ng-click="pager.prev()" type="button" class="btn btn-primary"><i
            class="fa-solid fa-angle-left"></i></button>
        <span ng-repeat="bill in pager.items">
          <button ng-click="choose(bill.code,bill.id)" style="margin: 2px 1px; width: 150px;"
            class="btn btn-primary">{{bill.code}}</button>
        </span>
        <button ng-click="pager.next()" type="button" class="btn btn-primary"><i
            class="fa-solid fa-angle-right"></i></button>
      </span>
      <button ng-click="addbill()" class="btn btn-primary">+</button>

    </div>
  </div>

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">

      <li class="nav-item dropdown pe-3">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <img ng-if="user.image == null" src="./assets/img/user-1.jpg" alt="Profile" class="rounded-circle">
          <img ng-if="user.image != null" src="{{user.image}}" alt="" class="rounded-circle">
          <span class="d-none d-md-block dropdown-toggle ps-2">{{user.fullname}}</span>
        </a><!-- End Profile Iamge Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>{{user.fullname}}</h6>
            <span> {{user.role.name}} </span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="#/profile">

              <span>Thông tin người dùng</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="#/product/view">

              <span>Quản lý</span>
            </a>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" ng-click="logout()" href>

              <span>Đăng xuất</span>
            </a>
          </li>

        </ul><!-- End Profile Dropdown Items -->
      </li><!-- End Profile Nav -->

    </ul>
  </nav><!-- End Icons Navigation -->

</header><!-- End Header -->


<!-- ======= Main ======= -->
<main id="main" class="main" style="margin: 60px 0 0 0; padding: 20px 20px;">
  <section class="section dashboard" id="chitiet" style="display: none;">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">

          <div class="col-lg-12">

            <div class="card card-cart">
              <div class="card-body">

                <!-- cart -->
                <table class="table">
                  <thead>
                    <th>Mã sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Tổng cộng</th>
                  </thead>
                  <tbody>
                    <tr ng-if="listItem.length > 0" ng-repeat="cart in listItem">
                      <td>{{ cart.product.code }}</td>
                      <td>{{ cart.product.name }}
                        <div class="cart__meta-text">
                          Màu:
                          <span ng-repeat="color in listColor">
                            <span ng-if="color.id == cart.idColor">
                              {{color.name}}
                            </span>
                          </span>
                          <br>
                          Kích Thước:
                          <span ng-repeat="size in listSize">
                            <span ng-if="size.id == cart.idSize">
                              {{size.name}}
                            </span>
                          </span>
                          <br>
                        </div>
                      </td>
                      <td>
                        <i class="bi bi-dash-circle" ng-click="giam(cart.id)"></i>
                        <input id="quantity{{cart.id}}" type="text" min="1" value="{{cart.quantity}}"
                          class="table-quantity text-center">
                        <i class="bi bi-plus-circle" ng-click="tang(cart.id)"></i>
                      </td>
                      <td>{{cart.product.price | currency:'':0}} VNĐ</td>
                      <td class="fw-bolder">{{cart.product.price * cart.quantity | currency:'':0}} VNĐ</td>
                      <td>
                        <a href="" ng-click="deleteBillDetail(cart.id)"><i class="bi bi-trash"></i></a>
                      </td>
                    </tr>
                    <tr ng-if="listItem.length == 0">
                      <td colspan="13">
                        <div style="text-align: center;">
                          <div><img style="width: 80px; height: 80px;" src="././assets/img/box.png"></div>
                          <h4>Không có sản phẩm nào</h4>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>

          <div class="col-lg-12">

            <div class="card">
              <div class="card-body" style="padding-top: 20px; font-size: 14px; height: 150px;">

                <div class="row">
                  <div class="col-lg-7">
                    <input placeholder="Ghi chú đơn hàng" class="form-control" id="ghichu"></input>
                  </div>
                  <div class="col-lg-5">
                    <div>
                      <label class="form-label">Tổng tiền : </label>
                      <span style="float: right;">{{tongTien | currency:'':0}} VNĐ</span>
                    </div>
                    <div id="muaonline1" style="display: none;">
                      <label class="form-label">Phí ship : </label>
                      <span style="float: right;">{{phiShip | currency:'':0}} VNĐ</span>
                    </div>
                    <div>
                      <label class="form-label">Giảm giá : </label>
                      <span style="float: right;">{{giamGia | currency:'':0}} VNĐ</span>
                    </div>
                    <div>
                      <label class="form-label fw-bolder">Tổng tiền cần thanh toán :</label>
                      <span class="fw-bolder" style="float: right;">{{tienThanhToan | currency:'':0}} VNĐ</span>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </div>
      </div>

      <!-- End Left side columns -->
      <!-- ///////////////////////////////////////////////////////////////////////////////////// -->
      <!-- Right side columns -->

      <div class="col-lg-4">
        <div class="row">

          <div class="col-lg-12">

            <div class="card card-infornation">

              <div class="card-body">

                <div class="card-title" style="padding-bottom: 5px;">
                  Đơn hàng: {{hoadon.code}}
                </div>

                  <div>
                    <div class="form-floating mb-4">
                      <select class="form-select" ng-click="chondiachi()" id="khachhang">
                        <option value="0">Khách lẻ</option>
                        <option ng-repeat="kh in listCustomer" value="{{kh.id}}">{{kh.fullname}} ({{kh.code}})</option>
                      </select>
                      <label for>Khách hàng</label>
                    </div>

                    <div id="diachi" style="display: none;" class="custom-radio">
                      <input ng-click="chondiachi1()" type="radio" id="diachichon" name="diachi" checked>
                      <label for="diachichon">Địa chỉ chọn</label>
                      <input ng-click="chondiachi1()" type="radio" id="diachicosan" name="diachi">
                      <label for="diachicosan">Địa chỉ có sẵn</label>
                    </div>
                    <div id="diachichon1" style="display: none;">
                      <div class="form-floating mb-4">
                        <select class="form-select" id="diachiCustomer" ng-click="doidiachi()">
                          <option ng-repeat="add in listAddress" value="{{add.id}}">{{add.fullname}} - {{add.phone}} |
                            {{add.address}}, {{add.wardName}}, {{add.districtName}}, {{add.cityName}}</option>
                        </select>
                        <label for>Địa chỉ giao hàng</label>
                      </div>
                    </div>
                    <div id="diachichon2" style="display: none;">

                      <div class="row">
                        <div class="col-lg-4">
                          <div class="form-floating mb-4">
                            <select class="form-select" id="tinh" ng-click="getHuyen();getXa();tinhPhiShip()">
                              <option ng-repeat="tinh in listTinh" value="{{tinh.ProvinceID}}">{{tinh.ProvinceName}}
                              </option>
                            </select>
                            <label for>Tỉnh/TP</label>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-floating mb-4">
                            <select class="form-select" id="huyen" ng-click="getXa();tinhPhiShip()">
                              <option ng-repeat="huyen in listHuyen" value="{{huyen.DistrictID}}">{{huyen.DistrictName}}
                              </option>
                            </select>
                            <label for>Quận/Huyện</label>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-floating mb-4">
                            <select class="form-select" id="xa" ng-click="tinhPhiShip()">
                              <option ng-repeat="xa in listXa" value="{{xa.WardCode}}">{{xa.WardName}}</option>
                            </select>
                            <label for>Xã/Phường</label>
                          </div>
                        </div>
                      </div>

                      <div id="nguoimua">
                        <input id="tennguoimua" class="form-control" type="text" placeholder="Tên người nhận"> <br>
                        <input id="sodienthoai" class="form-control" type="text" placeholder="Số điện thoại"> <br>
                      </div>
                      <textarea placeholder="Số nhà, tòa nhà, ngõ, đường" class="form-control" type="text"
                        id="diachicuthe"></textarea>
                    </div>
                  </div>

                <div>
                  <span>Hình thức thanh toán</span>
                  <div>
                    <input type="radio" id="pay1" name="radio-group1" checked> Tiền mặt</label>
                    <input type="radio" id="pay2" name="radio-group1"> VNPAY</label>
                  </div>

                  <div id="muaonline" style="display: none;">
                    <!-- <label for="">Đơn vị vận chuyển</label>
                    <img width="150px" height="75px" src="././assets/img/Logo-GHN.png"> -->
                  </div>
                </div>

                <div style="margin-top: 10px;">

                  <div class="custom-radio">
                    <input ng-click="magiamgia()" type="radio" id="chuongtrinhkhuyenmaiCheck" name="magiam" checked>
                    <label for="chuongtrinhkhuyenmaiCheck">Chương trình khuyến mãi</label>

                    <span id="maGiamGiaKH" style="display: none;">
                      <input ng-click="magiamgia()" type="radio" id="magiamgiaCheck" name="magiam">
                      <label for="magiamgiaCheck">Phiếu giảm giá</label>
                    </span>
                  </div>

                  <div id="magiamgia" style="display: none;">
                    <input class="form-control" style="width: 230px; float: left;" type="text" id="code-coupon"
                      placeholder="Mã giảm giá nếu có...">
                    <button ng-click="apCoupon()" style="padding: 5px; margin-left: 10px; margin-top: 1px;"
                      class="btn btn-primary">Áp
                      dụng</button>
                  </div>

                  <div id="chuongtrinhkhuyenmai" style="display: block;">
                    <select class="form-select" style="width: 230px;height: 40px; float: left;" id="ctkm">
                      <option ng-repeat="km in listVoucher" value="{{km.code}}">{{km.code}} - {{km.name}} | Áp
                        dụng cho hóa đơn</option>
                    </select>
                    <button ng-click="apCTKM()" style="padding: 5px; margin-left: 10px; margin-top: 2px;"
                      class="btn btn-primary">Áp dụng</button>
                  </div>

                </div>

                <div class="discount-coupon">
                  <br>
                  <div id="coupon" class="coupon-dec tab-pane active">


                    <div id="voucher" ng-if="checkVoucher == true">
                      <span ng-switch="voucherType">
                        <span ng-switch-when="true">
                          {{voucherName}} | Giảm {{discountVoucher}} áp dụng trên hóa đơn (- {{voucherGiamGia |
                          currency:'':0}} VNĐ)
                        </span>
                        <span ng-switch-when="false">
                          {{voucherName}} | Giảm {{cashVoucher | currency:'':0}} áp dụng trên hóa đơn (-
                          {{voucherGiamGia | currency:'':0}} VNĐ)
                        </span>
                      </span>
                      <button ng-click="removeVoucher()" style="color: rgb(247, 3, 3);border: none;">
                        <i class="fa-solid fa-trash-can"></i>
                      </button>
                    </div>


                    <div id="voucher1" ng-if="checkCoupon == true && couponType == true">
                      {{couponName}} | Giảm {{discountCoupon}} trên hóa đơn (- {{couponGiamGia | currency:'':0}} VNĐ)
                      <button ng-click="removeCoupon()" style="color: rgb(247, 3, 3);border: none;">
                        <i class="fa-solid fa-trash-can"></i>
                      </button>
                    </div>
                    <div id="voucher1" ng-if="checkCoupon == true && couponType == false">
                      {{couponName}} | Giảm {{cashCoupon}} trên hóa đơn (- {{couponGiamGia | currency:'':0}} VNĐ)
                      <button ng-click="removeCoupon()" style="color: rgb(247, 3, 3);border: none;">
                        <i class="fa-solid fa-trash-can"></i>
                      </button>
                    </div>
                  </div>
                </div>


                <div class="pt-3">
                  <div class="d-flex justify-content-start gap-2">
                    <button ng-click="huyhoadon(hoadon.code)" class="btn btn-danger">
                      <i class="fa-solid fa-ban"></i> Hủy
                    </button>
                    <button ng-click="buy(hoadon.code)" class="btn btn-success">
                      <i class="fa-solid fa-money-check-dollar"></i> Thanh Toán
                    </button>
                  </div>
                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

    <!-- End Right side columns -->

    <!-- ///////////////////////////////////////////////////////////////////////////////////// -->

    <div class="card-footer-bill">
      <div class="radio-button">
        <input type="radio" id="hinhThuc1" ng-click="hinhThucMuaHang();chondiachi()" value="hinhThuc1"
          name="radio-group" checked>
        <label for="hinhThuc1"><i class="fa-solid fa-store"></i> Tại quầy</label>
        <input type="radio" id="hinhThuc2" ng-click="hinhThucMuaHang();tinhPhiShip();chondiachi()" value="hinhThuc2"
          name="radio-group">
        <label for="hinhThuc2"><i class="fa-solid fa-earth-americas"></i> Online</label>
      </div>
    </div>
    
  </section>
</main>
<!-- End #main -->


<!-- Tìm sản phẩm header -->
<div class="popup-search" ng-class="{'show': isPopupSearch}" id="header-search-sp">
  <table class="table">
    <tbody>
      <tr ng-if="filteredList.length > 0" ng-repeat="cart in pager2.items" ng-click="themvaogio1(cart.id)">
        <td>
          <span ng-repeat="pro in listPro">
            <span ng-if="pro.id == cart.idProduct">
              <span ng-repeat="img in pro.productImages">
                <span ng-if="img.mainImage == true">
                  <a href=""><img style="height: 100px;width: 100px;" class="cart__image" src="{{img.url}}" alt=""></a>
                </span>
              </span>
            </span>
          </span>
        </td>
        <td>
          <div>
            <span ng-repeat="pro in listPro">
              <span ng-if="pro.id == cart.idProduct">
                {{pro.name}}
                <br>
                SKU : {{pro.code}}
              </span>
            </span>
          </div>
          <div>
            Màu:
            <span ng-repeat="color in listColor">
              <span ng-if="color.id == cart.idColor">
                {{color.name}}
              </span>
            </span>
            <br>
            Kích Thước:
            <span ng-repeat="size in listSize">
              <span ng-if="size.id == cart.idSize">
                {{size.name}}
              </span>
            </span>
            <br>
          </div>
        </td>
        <td class="text-center">
          <span ng-repeat="pro in listPro">
            <span ng-if="pro.id == cart.idProduct">
              {{pro.price | currency:'':0}} VNĐ
            </span>
          </span>
        </td>
        <td>
          {{cart.quantity > 0 ? cart.quantity : 'Tạm hết'}}
        </td>
      </tr>
      <tr ng-if="filteredList.length == 0 || filteredList.length == null">
        <td colspan="8">Không có sản phẩm nào</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Tìm sản phẩm -->
<div class="popup" ng-class="{ 'show': isPopupVisible }">
  <div class="popup-content">
    <!-- Nội dung của popup -->
    <h1>Danh sách sản phẩm </h1>
    <div class="timkiem row">
      <div class="col-lg-7">
        <input class="form-control" autocomplete="off" id="name" type="text" placeholder="Tìm theo mã hoặc tên giày..">
      </div>
      <div class="col-lg-5">
        <button ng-click="timkiem()" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-md-6 loc"><label>Màu Sắc</label>
          <select id="mausac" class="form-select" ng-click="timkiem()">
            <option value="">Tất cả màu sắc</option>
            <option ng-repeat="mausac in listColor" value="{{mausac.id}}">
              {{mausac.name}}</option>
          </select>
        </div>
        <div class="col-md-6 loc"><label>Kích Thước</label>
          <select id="kichthuoc" class="form-select" ng-click="timkiem()">
            <option value="">Tất cả kích thước</option>
            <option ng-repeat="kichthuoc in listSize" value="{{kichthuoc.id}}">
              Size {{kichthuoc.name}}</option>
          </select>
        </div>
      </div>
      <table class="table">
        <thead class="cart__row cart__header">
          <tr>
            <td colspan="2" class="text-center">Sản Phẩm</td>
            <td class="text-center">Giá Bán</td>
            <td class="text-center">Số lượng còn</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="listQuantity.length > 0" ng-repeat="cart in pager1.items" ng-click="themvaogio(cart.id)">
            <td class="cart__image-wrapper cart-flex-item">
              <span ng-repeat="pro in listPro">
                <span ng-if="pro.id == cart.idProduct">
                  <span ng-repeat="img in pro.productImages">
                    <span ng-if="img.mainImage == true">
                      <a href="#"><img style="height: 100px;width: 100px;" class="cart__image" src="{{img.url}}"
                          alt=""></a>
                    </span>
                  </span>
                </span>
              </span>
            </td>
            <td class="cart__meta small--text-left cart-flex-item">
              <div class="list-view-item__title">
                <span ng-repeat="pro in listPro">
                  <span ng-if="pro.id == cart.idProduct">
                    {{pro.name}}
                    <br>
                    SKU : {{pro.code}}
                  </span>
                </span>
              </div>
              <div class="cart__meta-text">
                Màu:
                <span ng-repeat="color in listColor">
                  <span ng-if="color.id == cart.idColor">
                    {{color.name}}
                  </span>
                </span>
                <br>
                Kích Thước:
                <span ng-repeat="size in listSize">
                  <span ng-if="size.id == cart.idSize">
                    {{size.name}}
                  </span>
                </span>
                <br>
              </div>
            </td>
            <td class="text-center">
              <span ng-repeat="pro in listPro">
                <span ng-if="pro.id == cart.idProduct">
                  {{pro.price | currency:'':0}} VNĐ
                </span>
              </span>
            </td>
            <td class="cart__update-wrapper cart-flex-item text-center">
              {{cart.quantity > 0 ? cart.quantity : 'Tạm hết'}}
            </td>
          </tr>
          <tr ng-if="listQuantity.length == 0">
            <td colspan="8">Không có sản phẩm nào</td>
          </tr>
        </tbody>
      </table>
      <div class="text-center" ng-if="listQuantity.length > 0">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <button ng-click="pager1.first()" type="button" class="btn btn-outline-secondary"><i
              class="fa-solid fa-angles-left"></i></button>
          <button ng-click="pager1.prev()" type="button" class="btn btn-outline-secondary"><i
              class="fa-solid fa-angle-left"></i></button>
          <button type="button" class="btn btn-outline-secondary">{{pager1.page+1}}
            of
            {{pager1.count}}</button>
          <button ng-click="pager1.next()" type="button" class="btn btn-outline-secondary"><i
              class="fa-solid fa-angle-right"></i></button>
          <button ng-click="pager1.last()" type="button" class="btn btn-outline-secondary"><i
              class="fa-solid fa-angles-right"></i></button>
        </div>
      </div>
    </div>

    <button class="btn btn-primary" ng-click="togglePopup()">Đóng</button>
  </div>
</div>

<!-- qr -->
<div class="popup" ng-class="{ 'show': isSanPhamQR }" id="qrsp">
  <div class="popup-content">
    <!-- Nội dung của popup -->
    <table class="table">
      <thead class="cart__row cart__header">
        <tr>
          <td colspan="2" class="text-center">Sản Phẩm</td>
          <td class="text-center">Giá Bán</td>
          <td class="text-center">Số lượng còn</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="listProduct.length > 0" ng-repeat="cart in pager1.items" ng-click="themvaogio(cart.id)">
          <td class="cart__image-wrapper cart-flex-item">
            <span ng-repeat="pro in listPro">
              <span ng-if="pro.id == cart.idProduct">
                <span ng-repeat="img in pro.productImages">
                  <span ng-if="img.mainImage == true">
                    <img style="height: 100px;width: 100px;" class="cart__image" src="{{img.url}}"
                      alt="Elastic Waist Dress - Navy / Small">
                  </span>
                </span>

              </span>
            </span>
          </td>
          <td class="cart__meta small--text-left cart-flex-item">
            <div class="list-view-item__title">
              <span ng-repeat="pro in listPro">
                <span ng-if="pro.id == cart.idProduct">
                  {{pro.name}}
                  <br>
                  SKU : {{pro.code}}
                </span>
              </span>
            </div>
            <div class="cart__meta-text">
              Màu:
              <span ng-repeat="color in listColor">
                <span ng-if="color.id == cart.idColor">
                  {{color.name}}
                </span>
              </span>
              <br>
              Kích Thước:
              <span ng-repeat="size in listSize">
                <span ng-if="size.id == cart.idSize">
                  {{size.name}}
                </span>
              </span>
              <br>
            </div>
          </td>
          <td class="text-center">
            <span ng-repeat="pro in listPro">
              <span ng-if="pro.id == cart.idProduct">
                {{pro.price | currency:'':0}} VNĐ
              </span>
            </span>
          </td>
          <td class="cart__update-wrapper cart-flex-item text-center">
            {{cart.quantity > 0 ? cart.quantity : 'Tạm hết'}}
          </td>
        </tr>
        <tr ng-if="listProduct.length == 0">
          <td colspan="8">Không có sản phẩm nào</td>
        </tr>
      </tbody>
    </table>
    <div class="text-center" ng-if="listProduct.length > 0">
      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button ng-click="pager1.first()" type="button" class="btn btn-outline-secondary"><i
            class="fa-solid fa-angles-left"></i></button>
        <button ng-click="pager1.prev()" type="button" class="btn btn-outline-secondary"><i
            class="fa-solid fa-angle-left"></i></button>
        <button type="button" class="btn btn-outline-secondary">{{pager1.page+1}}
          of
          {{pager1.count}}</button>
        <button ng-click="pager1.next()" type="button" class="btn btn-outline-secondary"><i
            class="fa-solid fa-angle-right"></i></button>
        <button ng-click="pager1.last()" type="button" class="btn btn-outline-secondary"><i
            class="fa-solid fa-angles-right"></i></button>
      </div>
    </div>

    <div style="padding-top: 10px;">
      <button class="btn btn-primary" ng-click="SanPhamQR()">X</button>
    </div>

  </div>
</div>
<!-- qr -->
<div class="popup" ng-class="{ 'show': isQR1 }" id="qr">
  <div class="popup-content2">
    <!-- Nội dung của popup -->
    <h1 class="text-center">Quét QR </h1>
    <div style="width:450px;"></div>
    <video id="video" width="350" height="240" autoplay></video>
    <div id="result" class="text-center"></div>
    <canvas id="canvas" style="display: none;"></canvas>
    <div class="text-center" style="padding-top: 5px;">
      <button class="btn btn-danger" ng-click="webcam()">X</button>
    </div>
  </div>
</div>
<!-- exportbill -->
<div style="display: none;">
  <section id="exportbill">

    <div class="invoice">
      <div class="top_line"></div>
      <div class="headerbill">
        <div class="i_row">
          <div class="i_logo">
            <img style="width: 200px; height: 100px;" src="././assets/img/logo.png">
          </div>
          <div class="i_title">
            <h2>Hóa Đơn</h2>
          </div>
        </div>
        <div class="i_row">
          <div class="i_number">
            <p class="p_title">Mã Hóa Đơn: {{billexport.code}}</p>
            <p class="p_title"> Thời gian: {{ thoigian | date:'HH:mm dd/MM/yyyy' }}</p>
            <p class="p_title">Người mua hàng : {{cus == null ? 'Khách lẻ' : cus.fullname}} <span
                ng-if="cus != null">-</span> {{cus == null ? '' : cus.phone}}</p>
            <p class="p_title" ng-if="billexport.typeStatus === 0">Thông tin giao hàng : {{addressexport.fullname}} -
              {{addressexport.phone}} | {{addressexport.address}}, {{addressexport.wardName}},
              {{addressexport.districtName}}, {{addressexport.cityName}}</p>
            <p class="p_title">Phương thức thanh toán : {{billexport.payType === 0 ? 'Tiền mặt' : 'Online qua VNPay'}}
            </p>
            <p class="p_title">Phương thức mua hàng : {{billexport.typeStatus === 1 ? 'Mua tại quầy' : 'Mua online'}}
            </p>
          </div>

        </div>
      </div>
      <div class="bodybill">
        <div class="i_table">
          <div class="i_table_head">
            <div class="i_row">
              <div class="i_col w_55">
                <p class="p_title">Sản Phẩm</p>
              </div>
              <div class="i_col w_15">
                <p class="p_title">Số Lượng</p>
              </div>
              <div class="i_col w_15">
                <p class="p_title">Đơn Giá</p>
              </div>
              <div class="i_col w_15">
                <p class="p_title">Thành Tiền</p>
              </div>
            </div>
          </div>
          <div class="i_table_body">
            <div class="i_row" ng-repeat="bill in listItemExport">

              <div class="i_col w_55">

                <div class="list-view-item__title">


                  {{bill.product.name | uppercase}}
                  <br>
                  SKU : {{bill.product.code}}

                </div>
                <div class="cart__meta-text">
                  Màu:
                  <span ng-repeat="color in listColor">
                    <span ng-if="color.id == bill.idColor">
                      {{color.name}}
                    </span>
                  </span>
                  <br>
                  Kích Thước:
                  <span ng-repeat="size in listSize">
                    <span ng-if="size.id == bill.idSize">
                      {{size.name}}
                    </span>
                  </span>
                  <br>
                </div>
                </td>
              </div>
              <div class="i_col w_15">
                <p>{{bill.quantity}}</p>
              </div>
              <div class="i_col w_15">
                <p>{{bill.unitPrice | currency:'':0}}</p>
              </div>
              <div class="i_col w_15">
                <p>{{bill.unitPrice * bill.quantity | currency:'':0}}</p>
              </div>
            </div>
          </div>

          <div class="i_table_foot">
            <div class="i_row">
              <div class="i_col w_15">
                <p></p>
              </div>
              <div class="i_col w_55">
                <p></p>
              </div>
              <div class="i_col w_15">
                <p>Tổng Tiền</p>
                <p>Phí Ship</p>
                <p>Giảm Giá</p>
              </div>
              <div class="i_col w_25">
                <p>{{billexport.totalPrice | currency:'':0}}</p>
                <p>{{billexport.shipPrice | currency:'':0}}</p>
                <p>{{billexport.totalPriceLast | currency:'':0}}</p>
              </div>
            </div>
            <div class="i_row grand_total_wrap">
              <div class="i_col w_50">
              </div>
              <div class="i_col w_50 grand_total">
                <p><span>Tổng Tiền Thanh Toán :</span>
                  <span>{{billexport.totalPrice + billexport.shipPrice - billexport.totalPriceLast | currency:'':0}}
                    VNĐ</span>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="footerbill">
        <div style="text-align: center;font-weight: bold;">Cảm ơn bạn đã mua sắm tại BeeFit!</div>
      </div>
      <div class="bottom_line"></div>
    </div>
  </section>
</div>