<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 250px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Giỏ hàng</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="#/home">Trang chủ</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Giỏ hàng</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Cart Start -->
<div ng-if="user != null" class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-9 table-responsive mb-5">
            <table class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th>Sản Phẩm</th>
                        <th>Đơn Giá</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    <tr ng-if="listCart.length > 0" ng-repeat="cart in listCart">
                        <td class="align-middle">
                            <span ng-repeat="img in cart.product.productImages">
                                <span ng-if="img.mainImage == true">
                                    <a href="#"><img style="width: 50px;" src="{{img.url}}" alt=""></a>
                                </span>
                            </span>                     
                                <a href="#/detail/{{cart.product.id}}">{{cart.product.name |uppercase}}</a>                        
                            <div>
                                SKU : {{cart.product.code}}<br>
                                Màu :
                                <span ng-repeat="color in listColor">
                                    <span ng-if="color.id == cart.idColor">
                                        {{color.name}}
                                    </span>
                                </span>
                                <br> Kích Thước :
                                <span ng-repeat="size in listSize">
                                    <span ng-if="size.id == cart.idSize">
                                        {{size.name}}
                                    </span>
                                </span><br>
                            </div>
                        </td>
                        <td class="align-middle">                                                   
                              <span ng-if="cart.product.discount > 0">
                                {{cart.product.price - (cart.product.price * (cart.product.discount * 0.01)) | currency:'':0}} VNĐ
                              </span>
                                                          
                              <span ng-if="cart.product.discount == 0 || cart.product.discount == null">
                                {{cart.product.price | currency:'':0}} VNĐ
                              </span>
                        </td>
                        <td class="align-middle">
                            <div class="input-group quantity mx-auto" style="width: 120px;">
                                <div class="input-group-btn">
                                    <button ng-click="giam(cart.id,cart.product.id,cart.idColor,cart.idSize)"
                                        class="btn btn-sm btn-primary btn-minus">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input ng-keyup="EnterQuantity(cart.id,cart.product.id,cart.idColor,cart.idSize)"
                                    name="updates[]" id="qty{{cart.id}}" pattern="[0-9]*" value="{{cart.quantity}}"
                                    type="text" class="form-control form-control-sm bg-secondary text-center">
                                <div class="input-group-btn">
                                    <button ng-click="tang(cart.id,cart.product.id,cart.idColor,cart.idSize)"
                                        class="btn btn-sm btn-primary btn-plus">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle">
                                                  
                              <span ng-if="cart.product.discount > 0">
                                {{(cart.product.price - (cart.product.price * (cart.product.discount * 0.01))) * cart.quantity | currency:'':0}} VNĐ
                              </span>
                                                                              
                              <span ng-if="cart.product.discount == 0 || cart.product.discount == null ">
                                {{cart.product.price * cart.quantity | currency:'':0}} VNĐ
                              </span>
                        </td>
                        <td class="align-middle">
                            <button ng-click="deleteByCart(cart.id)" class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button>
                        </td>
                    </tr>
                    <tr ng-if="listCart.length == 0">
                        <td style="text-align: center;" colspan="6"><img style="width: 100px;height: 100px;"
                                src="./assets/img/empty-cart.png">
                            <h3>Không có sản phẩm nào trong giỏ</h3>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-3">
            <!-- <div class="mb-5">
                <div class="input-group">
                    <input type="text" class="form-control p-4" placeholder="Coupon Code">
                    <div class="input-group-append">
                        <button class="btn btn-primary">Apply Coupon</button>
                    </div>
                </div>
            </div> -->
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Tóm tắt giỏ hàng</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Tổng phụ</h6>
                        <h6 class="font-weight-medium">{{tongTien | currency:'':0}} VNĐ</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Tổng số lượng hàng</h6>
                        <h6 class="font-weight-medium">{{tongSoLuong}}</h6>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Tổng cộng</h5>
                        <h5 class="font-weight-bold">{{tongTien | currency:'':0}} VNĐ</h5>
                    </div>
                    <button ng-click="checkCheckOut()" class="btn btn-block btn-primary my-3 py-3">Thanh toán</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->

<!-- Cart Start -->
<div ng-if="user == null" class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-9 table-responsive mb-5">
            <table class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th>Sản Phẩm</th>
                        <th>Đơn Giá</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    <tr ng-if="listCart1.length > 0" ng-repeat="cart in listCart1">
                        <td class="align-middle">
                            <span ng-repeat="img in cart.idProduct.productImages">
                                <span ng-if="img.mainImage == true">
                                    <a href="#"><img style="width: 50px;" src="{{img.url}}" alt=""></a>
                                </span>
                            </span>                     
                                <a href="#/detail/{{cart.idProduct.id}}">{{cart.idProduct.name |uppercase}}</a>                        
                            <div>
                                SKU : {{cart.idProduct.code}}<br>
                                Màu :
                                <span ng-repeat="color in listColor">
                                    <span ng-if="color.id == cart.idColor">
                                        {{color.name}}
                                    </span>
                                </span>
                                <br> Kích Thước :
                                <span ng-repeat="size in listSize">
                                    <span ng-if="size.id == cart.idSize">
                                        {{size.name}}
                                    </span>
                                </span><br>
                            </div>
                        </td>
                        <td class="align-middle">                                                   
                            <span ng-if="cart.idProduct.discount > 0">
                                {{cart.idProduct.price - (cart.idProduct.price *
                                (cart.idProduct.discount * 0.01)) | currency:'':0}} VNĐ
                            </span>
                            <span ng-if="cart.idProduct.discount == 0 || cart.idProduct.discount == null " >
                                {{cart.idProduct.price | currency:'':0}} VNĐ
                            </span>
                        </td>
                        <td class="align-middle">
                            <div class="input-group quantity mx-auto" style="width: 120px;">
                                <div class="input-group-btn">
                                    <button ng-click="giam1(cart.idProduct.id,cart.idColor,cart.idSize)"
                                        class="btn btn-sm btn-primary btn-minus">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input ng-keyup="EnterQuantity1(cart.idProduct.id,cart.idColor,cart.idSize)"
                                    name="updates[]" id="qty1{{cart.idProduct.id}}color{{cart.idColor}}size{{cart.idSize}}" pattern="[0-9]*" value="{{cart.quantity}}"
                                    type="text" class="form-control form-control-sm bg-secondary text-center qty">
                                <div class="input-group-btn">
                                    <button ng-click="tang1(cart.idProduct.id,cart.idColor,cart.idSize)"
                                        class="btn btn-sm btn-primary btn-plus">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle">                            
                              <span ng-if="cart.idProduct.discount > 0">
                                {{(cart.idProduct.price - (cart.idProduct.price * (cart.idProduct.discount * 0.01))) * cart.quantity | currency:'':0}} VNĐ
                              </span>
                                                                              
                              <span ng-if="cart.idProduct.discount == 0 || cart.idProduct.discount == null ">
                                {{cart.idProduct.price * cart.quantity | currency:'':0}} VNĐ
                              </span>
                        </td>
                        <td class="align-middle">
                            <button ng-click="deleteByCart1(cart.idProduct.id,cart.idColor,cart.idSize)" class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button>
                        </td>
                    </tr>
                    <tr ng-if="listCart.length == 0">
                        <td style="text-align: center;" colspan="6"><img style="width: 100px;height: 100px;"
                                src="./assets/img/empty-cart.png">
                            <h3>Không có sản phẩm nào trong giỏ</h3>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-3">
            <!-- <div class="mb-5">
                <div class="input-group">
                    <input type="text" class="form-control p-4" placeholder="Coupon Code">
                    <div class="input-group-append">
                        <button class="btn btn-primary">Apply Coupon</button>
                    </div>
                </div>
            </div> -->
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Tóm tắt giỏ hàng</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Tổng phụ</h6>
                        <h6 class="font-weight-medium">{{tongTien1 | currency:'':0}} VNĐ</h6>
                    </div>                  
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Tổng cộng</h5>
                        <h5 class="font-weight-bold">{{tongTien1 | currency:'':0}} VNĐ</h5>
                    </div>
                    <button ng-click="checkCheckOut()" class="btn btn-block btn-primary my-3 py-3">Thanh toán</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->




