<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 250px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Thủ tục thanh toán</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="#.home">Trang chủ</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Thủ tục thanh toán</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Checkout Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-7">
            <div class="mb-4">
                <h4 class="font-weight-semi-bold mb-4">Thông tin giao hàng</h4>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Tên người nhận</label>
                        <input id="tennguoimua1" class="form-control">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Số điện thoại người nhận</label>
                        <input id="sodienthoai1" class="form-control">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Tỉnh/TP</label>
                        <select class="custom-select" id="tinh" ng-click="getHuyen();getXa();tinhShip()">
                            <option ng-repeat="tinh in listTinh" value="{{tinh.ProvinceID}}">{{tinh.ProvinceName}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Quận/Huyện</label>
                        <select class="custom-select" id="huyen" ng-click="getXa();tinhShip()">
                            <option ng-repeat="huyen in listHuyen" value="{{huyen.DistrictID}}">
                                {{huyen.DistrictName}}</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Phường/Xã</label>
                        <select class="custom-select" id="xa" ng-click="tinhShip()">
                            <option ng-repeat="xa in listXa" value="{{xa.WardCode}}">{{xa.WardName}}</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Địa chỉ cụ thể</label>
                        <textarea id="diachicuthe1" class="form-control">
                        </textarea>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-5">

            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Tổng số đơn hàng</h4>
                </div>
                <div class="card-body">
                    <h5 class="font-weight-medium mb-3">Các sản phẩm</h5>
                    <div ng-repeat="cart in listCart1" class="d-flex justify-content-between">
                        <p><span ng-repeat="img in cart.product.productImages">
                                <span ng-if="img.mainImage == true">
                                    <a href="#"><img class="cart__image" src="{{img.url}}" alt="ao phong"></a>
                                </span>
                            </span></p>
                        <p>{{cart.idProduct.name | uppercase}} <br> SKU
                            : {{cart.idProduc.code}}
                        </p>

                        <p>
                            <span
                                ng-if="cart.product.promotion != null && cart.product.promotion.discount > 0 && cart.product.promotion.cash > 0">
                                {{cart.product.price - (cart.product.price * (cart.product.promotion.discount * 0.01)) -
                                cart.product.promotion.cash | currency:'':0}} VNĐ
                            </span>

                            <span
                                ng-if="cart.product.promotion != null && cart.product.promotion.discount > 0 && (cart.product.promotion.cash == 0 || cart.product.promotion.cash == null)">
                                {{cart.product.price - (cart.product.price * (cart.product.promotion.discount * 0.01)) |
                                currency:'':0}} VNĐ
                            </span>

                            <span
                                ng-if="cart.product.promotion != null && cart.product.promotion.cash > 0 && (cart.product.promotion.discount == 0 || cart.product.promotion.discount == null)">
                                {{cart.product.price - cart.product.promotion.cash | currency:'':0}} VNĐ
                            </span>

                            <span
                                ng-if="cart.product.promotion == null || (cart.product.promotion.discount == 0 && cart.product.promotion.cash == 0)">
                                {{cart.product.price | currency:'':0}} VNĐ
                            </span>
                        </p>

                        <p>
                            <span ng-repeat="color in listColor">
                                <span ng-if="color.id == cart.idColor">
                                    {{color.name}}
                                </span>
                            </span>
                        </p>
                        <p>
                            <span ng-repeat="size in listSize">
                                <span ng-if="size.id == cart.idSize">
                                    {{size.name}}
                                </span>
                            </span>
                        </p>
                        <p>
                            {{cart.quantity}}
                        </p>
                        <p>
                            <span
                                ng-if="cart.product.promotion != null && cart.product.promotion.discount > 0 && cart.product.promotion.cash > 0">
                                {{(cart.product.price - (cart.product.price * (cart.product.promotion.discount * 0.01))
                                - cart.product.promotion.cash) * cart.quantity | currency:'':0}} VNĐ
                            </span>

                            <span
                                ng-if="cart.product.promotion != null && cart.product.promotion.discount > 0 && (cart.product.promotion.cash == 0 || cart.product.promotion.cash == null)">
                                {{(cart.product.price - (cart.product.price * (cart.product.promotion.discount * 0.01)))
                                * cart.quantity | currency:'':0}} VNĐ
                            </span>

                            <span
                                ng-if="cart.product.promotion != null && cart.product.promotion.cash > 0 && (cart.product.promotion.discount == 0 || cart.product.promotion.discount == null)">
                                {{(cart.product.price - cart.product.promotion.cash) * cart.quantity | currency:'':0}}
                                VNĐ
                            </span>

                            <span
                                ng-if="cart.product.promotion == null || (cart.product.promotion.discount == 0 && cart.product.promotion.cash == 0)">
                                {{cart.product.price * cart.quantity | currency:'':0}} VNĐ
                            </span>
                        </p>
                        <p>{{tongTien1 | currency:'':0}} VNĐ</p>
                    </div>
                    <hr class="mt-0">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Tổng tiền</h6>
                        <h6 class="font-weight-medium">{{tongTien1 | currency:'':0}} VNĐ</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Giảm giá</h6>
                        <h6 class="font-weight-medium">{{giamGia | currency:'':0}} VNĐ</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Phí ship</h6>
                        <h6 class="font-weight-medium">{{phiShip | currency:'':0}} VNĐ</h6>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Tổng tiền cần thanh toán</h5>
                        <h5 class="font-weight-bold">{{tienThanhToan | currency:'':0}} VNĐ</h5>
                    </div>
                </div>
            </div>

            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Thanh toán</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="paypal">
                            <label class="custom-control-label" for="paypal">Paypal</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                            <label class="custom-control-label" for="directcheck">Direct Check</label>
                        </div>
                    </div>
                    <div class="">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                            <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
                        </div>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Đặt hàng</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Checkout End -->