<main class="main">

    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container d-flex align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
                <li class="breadcrumb-item active" aria-current="page">Sản phẩm chi tiết</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="product-details-top mb-2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-gallery product-gallery-vertical">
                            <div class="row">
                                <figure class="product-main-image">
                                    <div ng-repeat="img in sp.productImages" ng-if="img.mainImage === true"
                                        class="carousel-item active">
                                        <img id="product-zoom" data-zoom-image="{{img.url}}" src="{{img.url}}"
                                            alt="product image">
                                    </div>
                                    <a href="" id="btn-product-gallery" class="btn-product-gallery">
                                        <i class="icon-arrows"></i>
                                    </a>
                                </figure><!-- End .product-main-image -->

                                <div id="product-zoom-gallery" class="product-image-gallery">

                                    <a ng-repeat="img in sp.productImages" class="product-gallery-item" href=""
                                        data-image="{{img.url}}" data-zoom-image="{{img.zoomUrl}}">
                                        <span ng-if="img.mainImage === true">
                                            <img id="product-zoom" data-zoom-image="{{img.zoomUrl}}" src="{{img.url}}"
                                                alt="product side">
                                        </span>
                                        <span ng-if="img.mainImage === false">
                                            <img id="product-zoom" data-zoom-image="{{img.zoomUrl}}" src="{{img.url}}"
                                                alt="product side">
                                        </span>
                                    </a>

                                </div><!-- End .product-image-gallery -->

                            </div><!-- End .row -->
                        </div><!-- End .product-gallery -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="product-details product-details-centered">
                            <h1 class="product-title">{{sp.name}}</h1><!-- End .product-title -->

                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                </div><!-- End .ratings -->
                                <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews )</a>
                            </div><!-- End .rating-container -->

                            <div ng-if="sp.discount == null || sp.discount == 0" class="product-price">
                                {{sp.price | currency:'':0}} VND
                            </div><!-- End .product-price -->

                            <div ng-if="sp.discount > 0" class="row product-price">
                                <div class="col-12">
                                    <del>{{sp.price | currency:'':0}} VNĐ</del>

                                </div>
                                <div class="col-12">
                                    <span class="font-weight-semi-bold text-dark">
                                        {{sp.price - (sp.price * (sp.discount * 0.01)) |
                                        currency:'':0}} VNĐ
                                    </span>
                                    <span class="text-danger">(-{{sp.discount}}%)</span>
                                </div>
                            </div><!-- End .product-price -->

                            <div class="details-filter-row details-row-size">
                                <label>Color:</label>

                                <div class="custom-control custom-radio custom-control-inline" ng-repeat="c in colorid">
                                    <span ng-repeat="color in listColor">
                                        <span ng-if="c == color.id">
                                            <input ng-click="check()" ng-checked="selectedColor === color.id"
                                                type="radio" id="Color{{color.id}}" value="{{color.id}}"
                                                name="ColorRadioGroup" class="custom-control-input">
                                            <label class="custom-control-label"
                                                for="Color{{color.id}}">{{color.name}}</label>
                                        </span>
                                    </span>
                                </div>


                            </div><!-- End .details-filter-row -->

                            <div class="details-filter-row details-row-size">
                                <label for="size">Size:</label>
                                <div ng-repeat="kt in listKT" class="custom-control custom-radio custom-control-inline">
                                    <input ng-click="checkSize()" ng-checked="selectedSize === kt.size.id"
                                        id="Size{{kt.size.id}}" value="{{kt.size.id}}" name="SizeRadioGroup"
                                        type="radio" class="custom-control-input">
                                    <label class="custom-control-label"
                                        for="Size{{kt.size.id}}">{{kt.size.name}}</label>
                                </div>
                            </div><!-- End .details-filter-row -->

                            <div class="details-filter-row details-row-size">
                                <p class="text-dark font-weight-medium mb-0 mr-2">Số lượng: {{quantity}}</p>
                            </div>

                            <div class="product-details-action">
                                <div class="details-action-col">
                                    <div class="product-details-quantity">
                                        <div class="input-group input-spinner">
                                            <div class="input-group-prepend">
                                                <button ng-click="decreaseQuantity()" style="min-width: 26px"
                                                    class="btn btn-decrement btn-spinner" type="button"><i
                                                        class="icon-minus"></i></button>
                                            </div>
                                            <input id="Quantity" name="quantity" ng-model="quantityText" type="text"
                                                style="text-align: center" class="form-control qty" value="1" min="1"
                                                max="10" step="1" data-decimals="0">
                                            <div class="input-group-append">
                                                <button ng-click="increaseQuantity()" style="min-width: 26px"
                                                    class="btn btn-increment btn-spinner" type="button"><i
                                                        class="icon-plus"></i></button>
                                            </div>
                                        </div>
                                    </div><!-- End .product-details-quantity -->
                                    <a ng-click="addToCart()" href="" class="btn-product btn-cart"><span>add to
                                            cart</span></a>
                                </div><!-- End .details-action-col -->
                            </div><!-- End .product-details-action -->

                        </div><!-- End .product-details -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .product-details-top -->

            <div class="product-details-tab">
                <ul class="nav nav-pills justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab"
                            role="tab" aria-controls="product-desc-tab" aria-selected="true">Mô tả</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab"
                            role="tab" aria-controls="product-review-tab" aria-selected="false">Đánh giá</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel"
                        aria-labelledby="product-desc-link">
                        <div class="product-desc-content">
                            <h3>Thông tin sản phẩm</h3>
                            <p>{{sp.description}}</p>
                            <ul>
                                <li>Thương hiệu: {{sp.brand.name}}</li>
                                <li>Xuất xứ: Hàn Quốc</li>
                                <li>Thiết kế: {{sp.design.name}}</li>
                                <li>Giới tính: Unisex</li>
                                <li>Màu sắc:
                                    <span ng-repeat="c in colorid"><span ng-repeat="color in listColor">
                                            <span ng-if="c == color.id">{{color.name}},</span></span></span>
                                </li>
                                <li>Chất liệu:
                                    <span ng-repeat="cl in materialid"><span ng-repeat="chatlieu in listMaterial">
                                            <span ng-if="cl == chatlieu.id">{{chatlieu.name}} </span></span></span>
                                </li>
                                <li>{{sp.neckType.name}}, {{sp.handType.name}}</li>
                                <li>Phom áo: Comfortable fit thoải mái</li>
                                <li>Thích hợp mặc trong các dịp: Đi chơi, đi làm,....</li>
                                <li>Xu hướng theo mùa: Sử dụng được tất cả các mùa trong năm</li>
                            </ul>
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane fade" id="product-review-tab" role="tabpanel"
                        aria-labelledby="product-review-link">
                        <div class="reviews">
                            <h3>Đánh giá</h3>
                            <div class="review">
                                <div class="row no-gutters">
                                    <div class="col-auto">
                                        <h4><a href="#">Samanta J.</a></h4>
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 80%;"></div>
                                                <!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                        </div><!-- End .rating-container -->
                                        <span class="review-date">6 days ago</span>
                                    </div><!-- End .col -->
                                    <div class="col">
                                        <h4>Good, perfect size</h4>

                                        <div class="review-content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus cum
                                                dolores assumenda asperiores facilis porro reprehenderit animi culpa
                                                atque blanditiis commodi perspiciatis doloremque, possimus, explicabo,
                                                autem fugit beatae quae voluptas!</p>
                                        </div><!-- End .review-content -->

                                        <div class="review-action">
                                            <a href="#"><i class="icon-thumbs-up"></i>Helpful (2)</a>
                                            <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                        </div><!-- End .review-action -->
                                    </div><!-- End .col-auto -->
                                </div><!-- End .row -->
                            </div><!-- End .review -->

                            <div class="review">
                                <div class="row no-gutters">
                                    <div class="col-auto">
                                        <h4><a href="#">John Doe</a></h4>
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 100%;"></div>
                                                <!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                        </div><!-- End .rating-container -->
                                        <span class="review-date">5 days ago</span>
                                    </div><!-- End .col -->
                                    <div class="col">
                                        <h4>Very good</h4>

                                        <div class="review-content">
                                            <p>Sed, molestias, tempore? Ex dolor esse iure hic veniam laborum blanditiis
                                                laudantium iste amet. Cum non voluptate eos enim, ab cumque nam, modi,
                                                quas iure illum repellendus, blanditiis perspiciatis beatae!</p>
                                        </div><!-- End .review-content -->

                                        <div class="review-action">
                                            <a href="#"><i class="icon-thumbs-up"></i>Helpful (0)</a>
                                            <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                        </div><!-- End .review-action -->
                                    </div><!-- End .col-auto -->
                                </div><!-- End .row -->
                            </div><!-- End .review -->
                        </div><!-- End .reviews -->
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .product-details-tab -->

            <h2 class="title text-center mb-4">Sản phẩm cùng loại</h2><!-- End .title text-center -->
            

        </div><!-- End .container -->
    </div><!-- End .page-content -->

</main><!-- End .main -->