<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Sản phẩm<span>BeeFit</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#/products">Sản phẩm</a></li>
                <li class="breadcrumb-item active" aria-current="page">Danh sách sản phẩm</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">

                    <div class="products mb-3">
                        <div class="row justify-content-center">

                            <!-- Start products -->
                            <div ng-if="list.length > 0" ng-repeat="sp in pager.items"
                                class="col-6 col-md-4 col-lg-4 col-xl-3">
                                <div class="product product-7 text-center">
                                    <figure class="product-media">
                                        <!-- <span class="product-label label-new">New</span> -->
                                        <span ng-if="sp.discount > 0" class="product-label label-sale">-{{sp.discount}}%
                                            off</span>
                                        <a href="#/detail/{{sp.id}}">
                                            <span ng-if="sp.productImages.length > 2">
                                                <span ng-repeat="image in sp.productImages">
                                                    <span ng-if="image.mainImage == true">
                                                        <!-- image -->
                                                        <img class="product-image" src="{{image.url}}"
                                                            alt="Product image">
                                                        <!-- End image -->
                                                    </span>
                                                </span>
                                            </span>
                                            <span ng-if="sp.productImages.length == 1">
                                                <span ng-repeat="image in sp.productImages">
                                                    <!-- image -->
                                                    <img class="product-image" src="{{image.url}}" alt="Product image">
                                                    <!-- End image -->
                                                </span>
                                            </span>
                                        </a>
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <h3 class="product-title"><a href="#/detail/{{sp.id}}"
                                                title="{{sp.name}}">{{sp.name}}</a></h3><!-- End .product-title -->
                                        <div ng-if="sp.discount > 0" class="product-price">
                                            <span class="new-price">
                                                {{sp.price - (sp.price * (sp.discount * 0.01)) | currency:'':0}} VNĐ
                                            </span>
                                            <span class="old-price">
                                                {{sp.price | currency:'':0}} VNĐ
                                            </span>
                                        </div>
                                        <div ng-if="sp.discount == null || sp.discount == 0" class="product-price">
                                            <span class="new-price">
                                                {{sp.price | currency:'':0}} VNĐ
                                            </span>
                                        </div>
                                        <!-- End .product-price -->

                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 90%;"></div>
                                                <!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div><!-- End .rating-container -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-lg-4 -->
                            <!-- End products -->



                        </div><!-- End .row -->
                    </div>
                    <!-- End .products -->

                    <nav ng-if="list.length > 0" aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a ng-click="pager.prev()" class="page-link page-link-prev" href=""
                                    aria-label="Previous" tabindex="-1" aria-disabled="true">
                                    <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                                </a>
                            </li>
                            <li class="page-item" aria-current="page"><a class="page-link" href="">{{pager.page+1}}</a>
                            </li>
                            <li class="page-item-total">of {{ pager.count }}</li>
                            <li class="page-item">
                                <a ng-click="pager.next()" class="page-link page-link-next" href="" aria-label="Next">
                                    Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                    <center ng-if="list.length == 0">
                        <img src="./assets/images/inbox.png">
                        <h3>Không có sản phẩm nào !</h3>
                    </center>

                </div><!-- End .col-lg-9 -->
                <aside class="col-lg-3 order-lg-first">
                    <div class="sidebar sidebar-shop">

                        <div class="widget widget-clean">
                            <label>Bộ lọc:</label>
                            <a href="" class="sidebar-filter-clear">Làm sạch tất cả</a>
                        </div><!-- End .widget widget-clean -->

                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">Lọc theo giá</h3><!-- End .widget-title -->

                            <div class="collapse show" id="widget-5">
                                <div class="widget-body" style="padding: 0;">
                                    <div class="filter-price" style="padding: 0;">

                                        <div class="filter-price-text">
                                            Phạm vi giá:
                                            <div id="filter-price-range">
                                                Từ <span id="min"> 0 ₫ </span>
                                                đến <span id="max"> 9.999.999 ₫ </span>
                                                <div class="slide1">
                                                    <div class="line1" id="line" style="left: 0%; right: 0%;"></div>
                                                    <span class="thumb1" id="thumbMin" style="left: 0%;"></span>
                                                    <span class="thumb1" id="thumbMax" style="left: 100%;"></span>
                                                </div>
                                            </div>

                                            <!-- Price Start -->
                                            <input id="rangeMin" class="custom-range" ng-click="filter()" type="range"
                                                max="4999999" min="0" step="1" value="0">
                                            <input id="rangeMax" class="custom-range" ng-click="filter()" type="range"
                                                max="9999999" min="5000000" step="1" value="9999999">

                                            <!-- Price End -->

                                        </div><!-- End .filter-price-text -->

                                    </div><!-- End .filter-price -->
                                </div><!-- End .widget-body -->
                            </div><!-- End .collapse -->
                        </div><!-- End .widget -->

                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">Danh mục</h3><!-- End .widget-title -->
                            <div class="widget-body">
                                <div class="filter-items">

                                    <div class="filter-item">
                                        <select class="custom-select" id="danhmuc">
                                            <option value="">Tất cả danh mục</option>
                                        </select>
                                    </div><!-- End .filter-item -->

                                </div><!-- End .filter-items -->
                            </div><!-- End .widget-body -->
                        </div><!-- End .widget -->

                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">Size</h3><!-- End .widget-title -->

                            <div class="collapse show" id="widget-2">
                                <div class="widget-body">
                                    <div class="filter-items">

                                        <div class="row">
                                            <div ng-repeat="kt in listSize" class="filter-item col-auto">
                                                <div class="custom-control custom-checkbox">
                                                    <input id="Size{{kt.id}}" value="{{kt.id}}" type="checkbox"
                                                        name="SizeRadioGroup" class="custom-control-input">
                                                    <label class="custom-control-label"
                                                        for="Size{{kt.id}}">{{kt.name}}</label>
                                                </div><!-- End .custom-checkbox -->
                                            </div><!-- End .filter-item -->
                                        </div>

                                    </div><!-- End .filter-items -->
                                </div><!-- End .widget-body -->
                            </div><!-- End .collapse -->
                        </div><!-- End .widget -->

                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">Màu sắc</h3><!-- End .widget-title -->

                            <div class="collapse show" id="widget-3">
                                <div class="widget-body">
                                    <div class="radio-button">

                                    </div>
                                </div>
                            </div>

                        </div><!-- End .widget -->

                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">Thương hiệu</h3><!-- End .widget-title -->

                            <div class="collapse show" id="widget-4">
                                <div class="widget-body">
                                    <div class="filter-items">

                                        <div class="filter-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="brand-1">
                                                <label class="custom-control-label" for="brand-1">Next</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .filter-item -->

                                    </div><!-- End .filter-items -->
                                </div><!-- End .widget-body -->
                            </div><!-- End .collapse -->
                        </div><!-- End .widget -->

                    </div><!-- End .sidebar sidebar-shop -->
                </aside><!-- End .col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->