<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Sản phẩm của chúng tôi</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="#/home">Trang chủ</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Sản phẩm</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Shop Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-12">
            <!-- Price Start -->
            <div class="mb-5">
                <h5 class="font-weight-semi-bold mb-4">Lọc theo giá</h5>
                <input class="custom-range" id="rangeMin" ng-click="filter()" type="range" max="9999999" min="0"
                    step="1" value="0">
                <input class="custom-range" id="rangeMax" ng-click="filter()" type="range" max="9999999" min="0"
                    step="1" value="9999999">
                <div class="display">
                    Từ
                    <span id="min">0 </span>đ
                    đến
                    <span id="max">9,999,999 đ</span>
                    <div class="slide1">
                        <div class="line1" id="line" style="left: 0%; right: 0%;"></div>
                        <span class="thumb1" id="thumbMin" style="left: 0%;"></span>
                        <span class="thumb1" id="thumbMax" style="left: 100%;"></span>
                    </div>
                </div>
            </div>
            <!-- Price End -->

            <!-- Color Start -->
            <div class="mb-5">
                <h5 class="font-weight-semi-bold mb-4">Lọc theo màu sắc</h5>
                <select class="form-control" id="mausac" ng-click="filter()">
                    <option value="">Tất cả màu sắc</option>
                    <option ng-repeat="ms in listColor" value="{{ms.id}}">
                        {{ms.name}}</option>
                </select>
            </div>
            <!-- Color End -->

            <!-- Size Start -->
            <div class="mb-5">
                <h5 class="font-weight-semi-bold mb-4">Lọc theo kích thước</h5>
                <select class="form-control" id="kichthuoc" ng-click="filter()">
                    <option value="">Tất cả kích thước</option>
                            <option ng-repeat="kt in listSize" value="{{kt.id}}">
                                {{kt.name}}</option>
                </select>
            </div>
            <!-- Size End -->
        </div>
        <!-- Shop Sidebar End -->


        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-12">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div class="input-group">
                            <input ng-keyup="filter()" id="tentimkiem" type="text" class="form-control" placeholder="Nhập tên sản phẩm muốn tìm kiếm...">
                            <div class="input-group-append">
                                <span class="input-group-text bg-transparent text-primary">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>


                <div ng-if="list.length > 0" ng-repeat="sp in pager.items" class="col-lg-4 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">
                        <div
                            class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <span ng-if="sp.productImages.length > 2">
                                <span ng-repeat="image in sp.productImages">
                                    <span ng-if="image.mainImage == true">
                                        <!-- image -->
                                        <img class="img-fluid w-100" src="{{image.url}}" alt="Ảnh sản phẩm">
                                        <!-- End image -->
                                    </span>
                                </span>
                            </span>
                            <span ng-if="sp.productImages.length == 1">
                                <span ng-repeat="image in sp.productImages">
                                    <!-- image -->
                                    <img class="img-fluid w-100" src="{{image.url}}" alt="Ảnh sản phẩm">
                                    <!-- End image -->
                                </span>
                            </span>
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="mb-3" title="{{sp.name}}">{{sp.name}}</h6>
                            <div class="d-flex justify-content-center">
                                <h6 class="text-danger price">{{sp.price | currency:'':0}} VNĐ</h6>
                                <h6 class="text-muted ml-2"><del>400,000 VND</del></h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a href="#/detail/{{sp.id}}" class="btn btn-sm text-dark p-0">
                                <i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                            <a href="" class="btn btn-sm text-dark p-0">
                                <i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 pb-1" ng-if="list.length > 0">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center mb-3">
                            <li class="page-item">
                                <a ng-click="pager.prev()" class="page-link" href="" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item disabled"><a class="page-link" href="">{{pager.page+1}}</a></li>
                            <li class="page-item disabled"><a class="page-link" href="">of</a></li>
                            <li class="page-item disabled"><a class="page-link" href=""> {{pager.count}}</a></li>
                            <li class="page-item">
                                <a ng-click="pager.next()" class="page-link" href="" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>

            <center ng-if="list.length == 0">
                <img src="./assets/img/inbox.png">
                <h3>Không có sản phẩm nào !</h3>
            </center>
            
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->