<main id="main" class="main">

    <section class="section">

        <div class="row">
            <div class="col-md-12">


                <div class="row">

                    <div class="col-md-12">
                        <label>Tên khuyến mãi</label>
                        <input ng-model="form.name">
                        <div ng-repeat="err in validationErrors">
                            <span class="validate" ng-if="err.field == 'name'">
                                {{err.defaultMessage}}
                            </span>
                            <span class="validate" ng-if="err.field == 'endDate'">
                                {{err.defaultMessage}}
                            </span>
                        </div>
                    </div>

                    <div class="col-md-12" style="margin-top: 50px;">
                        <label>Ngày bắt đầu</label>
                        <input type="datetime-local" ng-model="form.startdate" id="ngaybatdau">
                       
                        <br>
                        <label>Ngày hết hạn</label>
                        <input type="datetime-local" ng-model="form.enddate" id="ngayhethan">
                       
                    </div>

                    <div class="col-md-12" style="margin-top: 15px;">
                        <label>Loại khuyến mãi <span class="vaid">*</span></label>
                        <div class="custom-radio">
                            <input type="radio" value="true" name="discountType" ng-model="form.discountType"
                                id="giamphantram" ng-click="check()" />
                            <label for="giamphantram">Giảm giá theo %</label>
                            <input type="radio" value="false" name="discountType" ng-model="form.discountType"
                                id="giamtienmat" ng-click="check()" />
                            <label for="giamtienmat">Giảm giá theo tiền mặt</label>
                        </div>
                       
                    </div>
                    <div class="col-md-6" style="display: none;" id="km">
                        <label>Khuyến mãi theo (%) </label>
                        <input ng-model="form.discount">
                        
                    </div>
                    <div class="col-md-6" style="display: none;" id="km1">
                        <label>Khuyến mãi theo tiền </label>
                        <input ng-model="form.cash">
                      
                    </div>
                </div>

                <div style="padding-top: 30px;">
                    <button class="btn btn-danger" ng-click="add()"><i class="fa-solid fa-plus"></i>
                        Thêm</button>
                    <a href="#/promotion/view"> <button class="btn btn-warning">Back</button></a>
                </div>



            </div>
        </div>


    </section>

</main>